Repository apache/seatunnel, pull requests merged in 2021-12, with the labels that each got.

#741 [SeaTunnel #676][FOLLOWUP] Modify name in description
  bin/utils/app.sh
  config/flink.batch.conf.template
  config/flink.streaming.conf.template
  config/spark.batch.conf.template
  plugin-flink-sink-elasticsearch/src/main/java/io/github/interestinglab/waterdrop/flink/sink/Elasticsearch.java
  plugins/json/files/schemas/waterdrop-demo.json
Labels: Chore

#752 [Feature][Plugin] Add plugin-spark-source-redis
  docs/en/configuration/source-plugins/Redis.md
  docs/en/configuration/source-plugins/source-plugin.md
  plugin-spark-source-redis/pom.xml
  plugin-spark-source-redis/src/main/resources/META-INF/services/io.github.interestinglab.waterdrop.spark.BaseSparkSource
  plugin-spark-source-redis/src/main/scala/io/github/interestinglab/waterdrop/spark/source/Redis.scala
  pom.xml
  seatunnel-core/seatunnel-core-spark/pom.xml
Labels: Feature, plugin

#738 [Feature#715] add quick-start Dockerfile
  pom.xml
  seatunnel-dist/docker/README.md
  seatunnel-dist/docker/quick-start/Dockerfile
  seatunnel-dist/docker/quick-start/entrypoint.sh
  seatunnel-dist/pom.xml
Labels: docker&k8s

#761 [Feat] maven dependency optimization #760
  plugin-flink-sink-console/pom.xml
  plugin-flink-sink-elasticsearch/pom.xml
  plugin-flink-sink-file/pom.xml
  plugin-flink-sink-jdbc/pom.xml
  plugin-flink-sink-kafka/pom.xml
  plugin-flink-source-fake/pom.xml
  plugin-flink-source-fake/src/main/java/io/github/interestinglab/waterdrop/flink/source/FakeSourceStream.java
  plugin-flink-source-file/pom.xml
  plugin-flink-source-jdbc/pom.xml
  plugin-flink-source-kafka/pom.xml
  plugin-flink-source-socket/pom.xml
  plugin-flink-transform-datastream2table/pom.xml
  plugin-flink-transform-split/pom.xml
  plugin-flink-transform-sql/pom.xml
  plugin-flink-transform-table2datasteam/pom.xml
  plugin-spark-phoenix-core/pom.xml
  plugin-spark-sink-clickhouse/pom.xml
  plugin-spark-sink-console/pom.xml
  plugin-spark-sink-elasticsearch/pom.xml
  plugin-spark-sink-email/pom.xml
  plugin-spark-sink-file/pom.xml
  plugin-spark-sink-hbase/pom.xml
  plugin-spark-sink-mysql/pom.xml
  plugin-spark-sink-phoenix/pom.xml
  plugin-spark-source-elasticsearch/pom.xml
  plugin-spark-source-fake/pom.xml
  plugin-spark-source-file/pom.xml
  plugin-spark-source-hive/pom.xml
  plugin-spark-source-jdbc/pom.xml
  plugin-spark-source-kafka/pom.xml
  plugin-spark-source-phoenix/pom.xml
  plugin-spark-source-redis/pom.xml
  plugin-spark-source-socket/pom.xml
  plugin-spark-transform-json/pom.xml
  plugin-spark-transform-split/pom.xml
  plugin-spark-transform-sql/pom.xml
  pom.xml
  seatunnel-apis/pom.xml
  seatunnel-common/pom.xml
  seatunnel-config/pom.xml
  seatunnel-core/pom.xml
  seatunnel-core/seatunnel-core-base/pom.xml
  seatunnel-core/seatunnel-core-flink/pom.xml
  seatunnel-core/seatunnel-core-spark/pom.xml
  seatunnel-dist/pom.xml
  seatunnel-flink-api/pom.xml
  seatunnel-spark-api/pom.xml
Labels: dependencies

#740 [Feature #739] Add plugin-spark-sink-kafka
  docs/en/configuration/sink-plugins/Kafka.md
  plugin-spark-sink-kafka/pom.xml
  plugin-spark-sink-kafka/src/main/resources/META-INF/services/io.github.interestinglab.waterdrop.spark.BaseSparkSink
  plugin-spark-sink-kafka/src/main/scala/io/github/interestinglab/waterdrop/spark/sink/Kafka.scala
  plugin-spark-sink-kafka/src/main/scala/io/github/interestinglab/waterdrop/spark/sink/KafkaProducerUtil.scala
  pom.xml
  seatunnel-core/seatunnel-core-spark/pom.xml
Labels: Feature

#771 [SeaTunnel #767][common] Translate seatunnel-common scala code to java
  seatunnel-common/src/main/java/io/github/interestinglab/waterdrop/common/RowConstant.java
  seatunnel-common/src/main/java/io/github/interestinglab/waterdrop/common/config/Common.java
  seatunnel-common/src/main/java/io/github/interestinglab/waterdrop/common/utils/StringTemplate.java
  seatunnel-common/src/main/scala/io/github/interestinglab/waterdrop/common/config/Common.scala
  seatunnel-core/seatunnel-core-base/src/main/java/io/github/interestinglab/waterdrop/Waterdrop.java
Labels: improve

#749 [Feature][Plugin] Add plugin-spark-source-mongodb into v2
  docs/en/configuration/source-plugins/MongoDB.md
  plugin-spark-source-mongodb/pom.xml
  plugin-spark-source-mongodb/src/main/resources/META-INF/services/io.github.interestinglab.waterdrop.spark.BaseSparkSource
  plugin-spark-source-mongodb/src/main/scala/io/github/interestinglab/waterdrop/spark/source/MongoDB.scala
  pom.xml
  seatunnel-core/seatunnel-core-spark/pom.xml
  seatunnel-spark-api/src/main/java/io/github/interestinglab/waterdrop/spark/utils/SparkSturctTypeUtil.java
Labels: First-time contributor

#789 Change the 2.11 Scala binary jar dependency version to the variable scala.binary.version
  plugin-spark-sink-email/pom.xml
  plugin-spark-source-redis/pom.xml
  pom.xml
  seatunnel-core/seatunnel-core-base/pom.xml
  seatunnel-core/seatunnel-core-flink/pom.xml
  seatunnel-core/seatunnel-core-spark/pom.xml
Labels: dependencies

#799 [hotfix] fix wrong seatunnel-api dependency
  plugin-spark-sink-hudi/pom.xml
  plugin-spark-source-kudu/pom.xml
Labels: dependencies

#781 [SeaTunnel #780][issue] Add umbrella issue template
  .github/ISSUE_TEMPLATE/umbrella.yml
Labels: Chore

#807 [CI]Ignore some link check
  .dlc.json
Labels: Chore

#819 Add license header
  deploy/docker/flink/config/application.conf
  deploy/docker/spark/config/application.conf
Labels: Chore

#809 [Feature][plugins] Add plugin-flink-sink-doris
  docs/en/configuration/sink-plugins/Doris.md
  docs/zh-CN/configuration/sink-plugins/Doris.md
  pom.xml
  seatunnel-connectors/plugin-flink-sink-doris/pom.xml
  seatunnel-connectors/plugin-flink-sink-doris/src/main/java/io/github/interestinglab/waterdrop/flink/sink/DorisOutputFormat.java
  seatunnel-connectors/plugin-flink-sink-doris/src/main/java/io/github/interestinglab/waterdrop/flink/sink/DorisSink.java
  seatunnel-connectors/plugin-flink-sink-doris/src/main/java/io/github/interestinglab/waterdrop/flink/sink/DorisSinkFunction.java
  seatunnel-connectors/plugin-flink-sink-doris/src/main/java/io/github/interestinglab/waterdrop/flink/sink/DorisStreamLoad.java
  seatunnel-connectors/plugin-flink-sink-doris/src/main/java/io/github/interestinglab/waterdrop/flink/sink/RespContent.java
  seatunnel-connectors/plugin-flink-sink-doris/src/main/resources/META-INF/services/io.github.interestinglab.waterdrop.flink.BaseFlinkSink
  seatunnel-connectors/pom.xml
  seatunnel-core/seatunnel-core-flink/pom.xml
Labels: Feature, don't merge

#838 [SeaTunnel #836] [sql] Support set operation statements in sql configuration
  pom.xml
  seatunnel-core/seatunnel-core-sql/pom.xml
  seatunnel-core/seatunnel-core-sql/src/main/java/io/github/interestinglab/waterdrop/core/sql/job/Executor.java
Labels: core

#864 Add package name check and delete unused file
  codeStyle.xml
  seatunnel-config/src/test/java/org/apache/seatunnel/config/CompleteTests.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/ArraysConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/BooleansConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/BytesConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/DifferentFieldNameFromAccessorsConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/DurationsConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/EnumsConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/NotABeanFieldConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/NumbersConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/ObjectsConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/PreferCamelNamesConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/SetsConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/StringsConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/TestBeanConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/UnsupportedListElementConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/UnsupportedMapKeyConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/UnsupportedMapValueConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/ValidationBeanConfig.java
  seatunnel-config/src/test/java/org/apache/seatunnel/config/beanconfig/ValuesConfig.java
  seatunnel-config/src/test/resources/org/apache/seatunnel/config/beanconfig/beanconfig01.conf
  tools/checkstyle/checkStyle.xml
Labels: Chore

#862 [Feature #861][ALL] Remove useless imports
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/BaseSparkSink.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/BaseSparkSource.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/SparkEnvironment.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/batch/SparkBatchExecution.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/stream/SparkStreamingExecution.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/stream/SparkStreamingSource.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/structuredstream/StructuredStreamingExecution.scala
  seatunnel-connectors/plugin-flink-source-fake/src/main/java/org/apache/seatunnel/flink/source/FakeSourceStream.java
  seatunnel-connectors/plugin-spark-sink-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/Clickhouse.scala
  seatunnel-connectors/plugin-spark-sink-doris/src/main/scala/org/apache/seatunnel/spark/sink/Doris.scala
  seatunnel-connectors/plugin-spark-sink-doris/src/main/scala/org/apache/seatunnel/spark/sink/DorisUtil.scala
  seatunnel-connectors/plugin-spark-sink-hbase/src/main/scala/org/apache/seatunnel/spark/sink/Hbase.scala
  seatunnel-connectors/plugin-spark-sink-kafka/src/main/scala/org/apache/seatunnel/spark/sink/Kafka.scala
  seatunnel-connectors/plugin-spark-source-kudu/src/main/scala/org/apache/seatunnel/spark/source/Kudu.scala
  seatunnel-transforms/plugin-spark-transform-json/src/main/scala/org/apache/seatunnel/spark/transform/Json.scala
  seatunnel-transforms/plugin-spark-transform-split/src/main/scala/org/apache/seatunnel/spark/transform/Split.scala
  seatunnel-transforms/plugin-spark-transform-sql/src/main/scala/org/apache/seatunnel/spark/transform/Sql.scala
Labels: Chore

#878 [SeaTunnel #798] [core-base] Translate seatunnel-core-base scala code to java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/ConfigBuilder.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/ConfigPackage.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/command/CommandLineUtils.java
  seatunnel-core/seatunnel-core-base/src/main/scala/org/apache/seatunnel/config/ConfigPackage.scala
Labels: improve

#872 [v1] [feature] add jdbc action
  waterdrop-config/src/main/java/io/github/interestinglab/waterdrop/config/impl/ConfigParser.java
  waterdrop-core/src/main/resources/META-INF/services/io.github.interestinglab.waterdrop.apis.BaseAction
  waterdrop-core/src/main/scala/io/github/interestinglab/waterdrop/action/Jdbc.scala
  waterdrop-core/src/main/scala/io/github/interestinglab/waterdrop/config/ConfigBuilder.scala
Labels: 1.X

#869 [Feature][CheckStyle] Add Scala CheckStyle support
  .github/workflows/backend.yml
  pom.xml
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/batch/SparkBatchExecution.scala
  seatunnel-connectors/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/Clickhouse.scala
  seatunnel-connectors/seatunnel-connector-spark-console/src/main/scala/org/apache/seatunnel/spark/sink/Console.scala
  seatunnel-connectors/seatunnel-connector-spark-doris/src/main/scala/org/apache/seatunnel/spark/sink/Config.scala
  seatunnel-connectors/seatunnel-connector-spark-elasticsearch/src/main/scala/org/apache/seatunnel/spark/sink/Elasticsearch.scala
  seatunnel-connectors/seatunnel-connector-spark-elasticsearch/src/main/scala/org/apache/seatunnel/spark/source/Elasticsearch.scala
  seatunnel-connectors/seatunnel-connector-spark-email/src/main/scala/org/apache/seatunnel/spark/sink/Email.scala
  seatunnel-connectors/seatunnel-connector-spark-fake/src/main/scala/org/apache/seatunnel/spark/source/FakeStream.scala
  seatunnel-connectors/seatunnel-connector-spark-hbase/src/main/scala/org/apache/seatunnel/spark/sink/Hbase.scala
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc2/JDBCPartition.scala
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc2/JDBCPartitioningInfo.scala
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc2/JdbcUtils.scala
  seatunnel-connectors/seatunnel-connector-spark-kafka/src/main/scala/org/apache/seatunnel/spark/source/KafkaStream.scala
  seatunnel-connectors/seatunnel-connector-spark-phoenix/src/main/scala/org/apache/phoenix/spark/CsUtil.scala
  seatunnel-connectors/seatunnel-connector-spark-phoenix/src/main/scala/org/apache/seatunnel/spark/sink/Phoenix.scala
  seatunnel-connectors/seatunnel-connector-spark-phoenix/src/main/scala/org/apache/seatunnel/spark/source/Phoenix.scala
  seatunnel-transforms/plugin-spark-transform-json/src/main/scala/org/apache/seatunnel/spark/transform/Json.scala
  tools/checkstyle/scalastyle-config.xml
Labels: CI&CD

#888 [repository] replace project github repository
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/umbrella.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/publish-docker.yaml
  .idea/vcs.xml
  README.md
  README_zh_CN.md
  pom.xml
Labels: Chore

#843 [Feature][Flink] Uniform parameters with Doris Connector
  docs/en/configuration/sink-plugins/Doris-Flink.md
  docs/en/configuration/sink-plugins/Doris.md
  docs/zh-CN/configuration/sink-plugins/Doris-Flink.md
  docs/zh-CN/configuration/sink-plugins/Doris.md
  seatunnel-connectors/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisSink.java
Labels: improve

#897 [Chore]Ignore some link check
  .dlc.json
Labels: Chore

#899 [DOCS]Update README_zh_CN.md
  README_zh_CN.md
Labels: Chore

#898 [DOCS]Update README.md
  README.md
Labels: Chore

#902 [MINOR] Fix misspelling
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/Seatunnel.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/command/CommandLineArgs.java
  seatunnel-core/seatunnel-core-base/src/test/java/org/apache/seatunnel/config/command/CommandLineUtilsTest.java
  seatunnel-core/seatunnel-core-sql/src/main/java/org/apache/seatunnel/core/sql/SeatunnelSql.java
Labels: Chore

#892 [Feature][seatunnel-transforms] refine transforms structure
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc2/JdbcUtils.scala
  seatunnel-core/seatunnel-core-flink/pom.xml
  seatunnel-core/seatunnel-core-spark/pom.xml
  seatunnel-transforms/plugin-flink-transform-datastream2table/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkTransform
  seatunnel-transforms/pom.xml
  seatunnel-transforms/seatunnel-transform-flink-datastream2table/pom.xml
  seatunnel-transforms/seatunnel-transform-flink-datastream2table/src/main/java/org/apache/seatunnel/flink/transform/DataStreamToTable.java
  seatunnel-transforms/seatunnel-transform-flink-datastream2table/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkTransform
  seatunnel-transforms/seatunnel-transform-flink-split/pom.xml
  seatunnel-transforms/seatunnel-transform-flink-split/src/main/java/org/apache/seatunnel/flink/transform/ScalarSplit.java
  seatunnel-transforms/seatunnel-transform-flink-split/src/main/java/org/apache/seatunnel/flink/transform/Split.java
  seatunnel-transforms/seatunnel-transform-flink-split/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkTransform
  seatunnel-transforms/seatunnel-transform-flink-sql/pom.xml
  seatunnel-transforms/seatunnel-transform-flink-sql/src/main/java/org/apache/seatunnel/flink/transform/Sql.java
  seatunnel-transforms/seatunnel-transform-flink-sql/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkTransform
  seatunnel-transforms/seatunnel-transform-flink-table2datastream/pom.xml
  seatunnel-transforms/seatunnel-transform-flink-table2datastream/src/main/java/org/apache/seatunnel/flink/transform/TableToDataStream.java
  seatunnel-transforms/seatunnel-transform-flink-table2datastream/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkTransform
  seatunnel-transforms/seatunnel-transform-spark-json/pom.xml
  seatunnel-transforms/seatunnel-transform-spark-json/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkTransform
  seatunnel-transforms/seatunnel-transform-spark-json/src/main/scala/org/apache/seatunnel/spark/transform/Json.scala
  seatunnel-transforms/seatunnel-transform-spark-split/pom.xml
  seatunnel-transforms/seatunnel-transform-spark-split/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkTransform
  seatunnel-transforms/seatunnel-transform-spark-split/src/main/scala/org/apache/seatunnel/spark/transform/Split.scala
  seatunnel-transforms/seatunnel-transform-spark-sql/pom.xml
  seatunnel-transforms/seatunnel-transform-spark-sql/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkTransform
  seatunnel-transforms/seatunnel-transform-spark-sql/src/main/scala/org/apache/seatunnel/spark/transform/Sql.scala
Labels: improve

#885 [SeaTunnel #884] Fix NullPointerException caused by engine type
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/Seatunnel.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/ConfigBuilder.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/command/CommandFlinkArgs.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/command/CommandSparkArgs.java
Labels: bug

#909 [SeaTunnel #908] [README] seatunnel-workflow image change.
  README.md
  README_zh_CN.md
Labels: Chore
