Repository apache/seatunnel, pull requests merged in 2022-10, with the labels that each got.

#3000 [Improve][Connector-V2] Console print subtask index
  seatunnel-connectors-v2/connector-console/src/main/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSink.java
  seatunnel-connectors-v2/connector-console/src/main/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSinkWriter.java
  seatunnel-connectors-v2/connector-console/src/test/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSinkWriterIT.java
Labels: improve, connectors-v2

#2864 [Docs]Add connector release status
  README.md
  docs/en/connector-v2/connector-status/connector-health-status.md
  docs/sidebars.js
Labels: discuss, don't merge

#3021 [Hotfix][Docs] Fix dead links
  README.md
  docs/en/Connector-v2-release-state.md
  docs/en/connector-v2/connector-status/connector-health-status.md
  docs/sidebars.js
Labels: document

#2550 [Feature][Connector-V2] oracle connector
  docs/en/connector-v2/sink/Jdbc.md
  docs/en/connector-v2/source/Jdbc.md
  seatunnel-connectors-v2/connector-jdbc/pom.xml
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/oracle/OracleDialect.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/oracle/OracleDialectFactory.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/oracle/OracleJdbcRowConverter.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/oracle/OracleTypeMapper.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/AbstractJdbcIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/JdbcCase.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/JdbcOracledbIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/src/test/resources/jdbc_oracle_source_to_sink.conf
Labels: connectors-v2

#3030 [hotfix][connector][flink-sql] Updated instruction
  docs/en/connector/flink-sql/usage.md
Labels: Chore

#3027 [Docs] Fix the `InfluxDB` typo.
  docs/en/connector/sink/InfluxDB.md
  docs/en/connector/source/InfluxDB.md
Labels: Chore

#3036 [Improve][ST-Engine] put imap names to constant
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/Constant.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/CoordinatorService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/SeaTunnelServer.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/resourcemanager/AbstractResourceManager.java
Labels: Chore

#3033 [Engine] [ConfigFile] Add config file into binary package.
  seatunnel-core/seatunnel-starter/src/main/bin/seatunnel-cluster.sh
  seatunnel-core/seatunnel-starter/src/main/bin/seatunnel.sh
  seatunnel-dist/src/main/assembly/assembly-bin-ci.xml
  seatunnel-dist/src/main/assembly/assembly-bin.xml
  seatunnel-e2e/seatunnel-e2e-common/src/test/java/org/apache/seatunnel/e2e/common/container/seatunnel/SeaTunnelContainer.java
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/SeaTunnelContainer.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/Constant.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/ConfigProvider.java
  seatunnel-engine/seatunnel-engine-common/src/main/resources/seatunnel.yaml
Labels: core, SeaTunnel-Engine

#3024 [Hotfix] [sqlserver] timestamp convert exception
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/sqlserver/SqlserverTypeMapper.java
Labels: connectors-v2

#3056 [Improve] fix doris stream load properties dead link.
  docs/en/connector/sink/Doris.mdx
Labels: document, First-time contributor

#3054 [Improve] correct the wrong word.
  seatunnel-transforms/seatunnel-transforms-spark/seatunnel-transform-spark-nulltf/src/main/scala/org/apache/seatunnel/spark/transform/Nulltf.scala
Labels: improve, transform, First-time contributor

#3055 [Improve][Common]DeployMode enumeration Generate Map method optimization
  seatunnel-common/src/main/java/org/apache/seatunnel/common/config/CheckResult.java
  seatunnel-common/src/main/java/org/apache/seatunnel/common/config/DeployMode.java
Labels: core, improve, Chore

#3050 [Feature][e2e][Clickhouse] Add Clickhouse e2e testcase
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-clickhouse-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-clickhouse-e2e/src/test/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/ClickhouseIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-clickhouse-e2e/src/test/resources/clickhouse_to_clickhouse.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-clickhouse-e2e/src/test/resources/init/clickhouse_init.conf
Labels: connectors-v2

#3078 [improve][build] Simplify the management of `flatten-maven-plugin`
  pom.xml
  seatunnel-connectors-v2/connector-common/pom.xml
  seatunnel-connectors-v2/connector-file/connector-file-base-hadoop/pom.xml
  seatunnel-connectors-v2/connector-file/connector-file-base/pom.xml
  seatunnel-connectors-v2/connector-file/pom.xml
  seatunnel-connectors-v2/connector-hive/pom.xml
  seatunnel-connectors-v2/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink-sql/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/pom.xml
  seatunnel-core/pom.xml
  seatunnel-core/seatunnel-core-base/pom.xml
  seatunnel-core/seatunnel-core-starter/pom.xml
  seatunnel-formats/seatunnel-format-json/pom.xml
Labels: Chore

#3084 [Improve][Translation][Spark] Rename SeatunnelInputPartitionReader to SeaTunnelInputPartitionReader
  seatunnel-translation/seatunnel-translation-spark/seatunnel-translation-spark-2.4/src/main/java/org/apache/seatunnel/translation/spark/source/SeaTunnelInputPartitionReader.java
  seatunnel-translation/seatunnel-translation-spark/seatunnel-translation-spark-2.4/src/main/java/org/apache/seatunnel/translation/spark/source/batch/BatchPartition.java
  seatunnel-translation/seatunnel-translation-spark/seatunnel-translation-spark-2.4/src/main/java/org/apache/seatunnel/translation/spark/source/micro/MicroBatchPartition.java
Labels: Chore

#3061 [Engine] [ConfigFile] Add Config for Slot Service and Checkpoint
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/SeaTunnelClient.java
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/SeaTunnelHazelcastClient.java
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/job/JobClient.java
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/job/JobExecutionEnvironment.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/EngineConfig.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/JobConfig.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/SeaTunnelConfig.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/YamlSeaTunnelDomConfigProcessor.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/server/CheckpointConfig.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/server/CheckpointStorageConfig.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/server/ServerConfigOptions.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/server/SlotServiceConfig.java
  seatunnel-engine/seatunnel-engine-common/src/test/java/org/apache/seatunnel/engine/common/config/YamlSeaTunnelConfigParserTest.java
  seatunnel-engine/seatunnel-engine-common/src/test/resources/hazelcast-client.yaml
  seatunnel-engine/seatunnel-engine-common/src/test/resources/hazelcast.yaml
  seatunnel-engine/seatunnel-engine-common/src/test/resources/seatunnel.yaml
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/parse/JobConfigParser.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/CoordinatorService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/NodeExtension.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/SeaTunnelServer.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointCoordinator.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointCoordinatorConfiguration.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointManager.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobMaster.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/service/slot/DefaultSlotService.java
  seatunnel-engine/seatunnel-engine-server/src/test/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointManagerTest.java
Labels: Chore, SeaTunnel-Engine

#3122 [Hotfix][Connector-V2][File] Fix ParquetReadStrategy get NPE
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/source/reader/ParquetReadStrategy.java
Labels: First-time contributor

#3105 [Improve][Doc] fix the dead link of CNCF CLOUD NATIVE Landscape
  docs/en/intro/about.md
Labels: document, First-time contributor

#2941 [Imporve][Seatunnel-code][Seatunnel-flink-starter] customize operator parallel for flink and spark
  docs/en/connector-v2/sink/common-options.md
  docs/en/connector-v2/source/common-options.md
  seatunnel-common/src/main/java/org/apache/seatunnel/common/Constants.java
  seatunnel-core/seatunnel-flink-starter/src/main/java/org/apache/seatunnel/core/starter/flink/execution/SinkExecuteProcessor.java
  seatunnel-core/seatunnel-flink-starter/src/main/java/org/apache/seatunnel/core/starter/flink/execution/SourceExecuteProcessor.java
  seatunnel-core/seatunnel-spark-starter/src/main/java/org/apache/seatunnel/core/starter/spark/execution/SinkExecuteProcessor.java
  seatunnel-core/seatunnel-spark-starter/src/main/java/org/apache/seatunnel/core/starter/spark/execution/SourceExecuteProcessor.java
  seatunnel-examples/seatunnel-flink-connector-v2-example/src/main/resources/examples/fake_to_console.conf
  seatunnel-examples/seatunnel-spark-connector-v2-example/src/main/resources/examples/spark.batch.conf
  seatunnel-translation/seatunnel-translation-spark/seatunnel-translation-spark-2.4/src/main/java/org/apache/seatunnel/translation/spark/source/SeaTunnelSourceSupport.java
Labels: discuss

#3060 [Feature][Connector-V2] StarRocks Source & Sink connector
  docs/en/connector-v2/sink/Jdbc.md
  docs/en/connector-v2/source/Jdbc.md
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/JdbcStarRocksdbIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/src/test/resources/jdbc_starrocks_source_to_sink.conf
Labels: connectors-v2

#3131 [Engine] [Checkpoint] fix Checkpoint can't deserialize with protostuff
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/ActionState.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointCoordinator.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/TaskStatistics.java
  seatunnel-engine/seatunnel-engine-server/src/test/java/org/apache/seatunnel/engine/server/checkpoint/StorageTest.java
Labels: SeaTunnel-Engine

#3144 [Engine] [Plugins] Support add plugin jar with plugins folder
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/job/JobExecutionEnvironment.java
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/dag/actions/AbstractAction.java
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/parse/ConnectorInstanceLoader.java
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/parse/JobConfigParser.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/TaskExecutionService.java
  seatunnel-plugin-discovery/src/main/java/org/apache/seatunnel/plugin/discovery/AbstractPluginDiscovery.java
  seatunnel-plugin-discovery/src/main/java/org/apache/seatunnel/plugin/discovery/PluginDiscovery.java
Labels: SeaTunnel-Engine

#3108 [Feature][Connector-V2-Clickhouse] Clickhouse Source random use host when config multi-host
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/source/ClickhouseSource.java
Labels: First-time contributor, connectors-v2

#3179 [Improve][CI] improve ci and only build the changed modules
  .github/workflows/backend.yml
  pom.xml
  seatunnel-e2e/seatunnel-flink-connector-v2-e2e/connector-file-flink-e2e/src/test/java/org/apache/seatunnel/e2e/flink/v2/file/FakeSourceToFileIT.java
  tools/update_modules_check/update_modules_check.py
Labels: CI&CD

#2911 [Feature][Doc] The contribute document need be update
  docs/en/contribution/contribute-plugin.md
Labels: document, Waiting for code update

#2410 [Feature][Connector-V2][JDBC] Support DB2 Source & Sink
  docs/en/connector-v2/sink/Jdbc.md
  docs/en/connector-v2/source/Jdbc.md
  seatunnel-connectors-v2/connector-jdbc/pom.xml
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/db2/DB2Dialect.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/db2/DB2DialectFactory.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/db2/DB2JdbcRowConverter.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/db2/DB2TypeMapper.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/JdbcDb2IT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/src/test/resources/init/db2_init.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/src/test/resources/jdbc_db2_source_and_sink.conf
Labels: Waiting for users feedback

#3233 [Docs][Start]fix dead link
  docs/en/start/local.mdx
Labels: document

#3220 [Bug][Connector-V2][JDBC]fix jdbc split bug
  docs/en/connector-v2/source/Jdbc.md
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/source/JdbcSourceSplitEnumerator.java
Labels: bug, connectors-v2
