Repository apache/seatunnel, pull requests merged in 2022-02, with the labels that each got.

#1192 [SeaTunnel#1191] DorisSink,DruidSink,DruidSource,Elasticsearch,FileSo…
  docs/en/flink/configuration/sink-plugins/Doris.md
  docs/en/flink/configuration/sink-plugins/Druid.md
  docs/en/flink/configuration/sink-plugins/Elasticsearch.md
  docs/en/flink/configuration/sink-plugins/File.md
  docs/en/flink/configuration/sink-plugins/InfluxDb.md
  docs/en/flink/configuration/source-plugins/Druid.md
  docs/en/flink/configuration/source-plugins/File.md
  seatunnel-connectors/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisSink.java
  seatunnel-connectors/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/sink/DruidSink.java
  seatunnel-connectors/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/source/DruidSource.java
  seatunnel-connectors/seatunnel-connector-flink-elasticsearch/src/main/java/org/apache/seatunnel/flink/sink/Elasticsearch.java
  seatunnel-connectors/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/sink/FileSink.java
  seatunnel-connectors/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/source/FileSource.java
  seatunnel-connectors/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/sink/InfluxDbSink.java
Labels: improve, First-time contributor

#1193 [SeaTunnel#IMP]upgrade maven-surefire-plugin to avoid package error
  pom.xml
Labels: improve, First-time contributor

#1089 [Feature] [flink] Upgrade flink to 1.13.5
  pom.xml
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/FlinkEnvironment.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchExecution.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/stream/FlinkStreamExecution.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/util/TableUtil.java
  seatunnel-connectors/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisSink.java
  seatunnel-connectors/seatunnel-connector-flink-jdbc/pom.xml
  seatunnel-connectors/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/sink/JdbcSink.java
  seatunnel-connectors/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/source/JdbcSource.java
  seatunnel-connectors/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/sink/KafkaTable.java
  seatunnel-connectors/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/source/KafkaTableStream.java
  seatunnel-core/seatunnel-core-sql/pom.xml
  seatunnel-dist/release-docs/LICENSE
  seatunnel-examples/seatunnel-flink-examples/pom.xml
  seatunnel-examples/seatunnel-sql-examples/pom.xml
  seatunnel-transforms/seatunnel-transform-flink-datastream2table/src/main/java/org/apache/seatunnel/flink/transform/DataStreamToTable.java
  seatunnel-transforms/seatunnel-transform-flink-sql/src/main/java/org/apache/seatunnel/flink/transform/Sql.java
  seatunnel-transforms/seatunnel-transform-flink-table2datastream/src/main/java/org/apache/seatunnel/flink/transform/TableToDataStream.java
  tools/dependencies/checkLicense.sh
  tools/dependencies/known-dependencies.txt
Labels: core

#1139 [Improve] Add @Nullable annotation to BaseFlinkSink apis
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchSink.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/stream/FlinkStreamSink.java
  seatunnel-connectors/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisSink.java
  seatunnel-connectors/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/source/DruidInputFormat.java
  seatunnel-connectors/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/sink/JdbcSink.java
  seatunnel-connectors/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/sink/KafkaTable.java
Labels: improve

#1048 [Feature] [connector] Add InfluxDB Flink Source
  docs/en/flink/configuration/source-plugins/InfluxDb.md
  seatunnel-connectors/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/source/InfluxDbInputFormat.java
  seatunnel-connectors/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/source/InfluxDbSource.java
  seatunnel-connectors/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/source/InfluxDbSql.java
  seatunnel-connectors/seatunnel-connector-flink-influxdb/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
Labels: connectors

#1188 [Feature] [api] Translate spark apis from scala to java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/BaseSparkSink.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/BaseSparkSource.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/BaseSparkTransform.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/SparkEnvironment.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/batch/SparkBatchExecution.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/batch/SparkBatchSink.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/batch/SparkBatchSource.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/structuredstream/StructuredStreamingExecution.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/structuredstream/StructuredStreamingSink.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/structuredstream/StructuredStreamingSource.java
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/SparkEnvironment.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/batch/SparkBatchExecution.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/stream/SparkStreamingExecution.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/structuredstream/StructuredStreamingExecution.scala
Labels: First-time contributor

#1225 [Feature] [docs] Add link to HOCON details in Doc.
  docs/en/flink/configuration/ConfigExamples.md
  docs/en/spark/configuration/ConfigExamples.md
Labels: document

#1244 [IMP] [utils] Should ensure that utility classes are not available to be extended
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/util/EnvironmentUtil.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/util/SchemaUtil.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/util/TableUtil.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/utils/SparkStructTypeUtil.java
  seatunnel-common/src/main/java/org/apache/seatunnel/common/PropertiesUtil.java
  seatunnel-common/src/main/java/org/apache/seatunnel/common/config/CheckConfigUtil.java
  seatunnel-common/src/main/java/org/apache/seatunnel/common/config/TypesafeConfigUtils.java
  seatunnel-common/src/main/java/org/apache/seatunnel/common/utils/StringTemplate.java
  seatunnel-config/seatunnel-config-shade/src/test/java/org/apache/seatunnel/config/utils/FileUtils.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/command/CommandLineUtils.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/utils/AsciiArtUtils.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/utils/CompressionUtils.java
Labels: improve

#1254 [Feature] [connector] Support flink jdbc sink based on new flink version
  seatunnel-connectors/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/sink/JdbcSink.java
Labels: connectors

#1248 [Feature] [api] uniform the table name constant
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/batch/SparkBatchExecution.java
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/stream/SparkStreamingExecution.scala
Labels: improve

#1249 [hotfix] [core] when engine type is illegal throw IllegalArgumentException
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/ConfigBuilder.java
Labels: bug

#1260 [Feature][ci] Correct the usage of maven cache in Github Action
  .github/workflows/backend.yml
  .github/workflows/codeql.yaml
  .github/workflows/docker.yml
Labels: CI&CD, improve

#1269 [Feature][docs] Add development FAQ document.
  docs/en/developement/FAQ.md
Labels: document

#1303 [Chore][doc] Fix markdown syntax in the plugins part in the README doc
  README.md
Labels: Chore

#1302 [Performance] [utils] Extract the Pattern instance for getUniqueTableName method to get better performance
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/util/SchemaUtil.java
Labels: improve, Chore

#1304 [Feature][core] Set Apache-Parent POM
  pom.xml
Labels: core

#1307 [Improvement][Chore]Add Mail List and Issue
  pom.xml
Labels: Chore

#1308 [Feature][License]Binary packaging automatically adds license and NOTICE
  seatunnel-dist/assembly.xml
  seatunnel-dist/release-docs/NOTICE
Labels: License

#1321 [Chore] Remove the useless qualifier of SparkBatchExecution
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/batch/SparkBatchExecution.java
Labels: Chore

#1152 [Improve] [config] Optimize clickhouse connector checkConfig
  seatunnel-connectors/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/Clickhouse.scala
Labels: improve

#1256 [Feature] [connector] Remove `Hdfs Connector` and make it compatible with `File Connector`
  docs/en/spark/configuration/sink-plugins/File.md
  docs/en/spark/configuration/sink-plugins/Hdfs.md
  docs/en/spark/configuration/source-plugins/File.md
  seatunnel-connectors/seatunnel-connector-spark-file/src/main/scala/org/apache/seatunnel/spark/Config.scala
  seatunnel-connectors/seatunnel-connector-spark-file/src/main/scala/org/apache/seatunnel/spark/sink/File.scala
  seatunnel-connectors/seatunnel-connector-spark-file/src/main/scala/org/apache/seatunnel/spark/sink/FileSinkBase.scala
  seatunnel-connectors/seatunnel-connector-spark-file/src/main/scala/org/apache/seatunnel/spark/source/File.scala
Labels: improve, connectors

#1338 [Improve] [doc] Display plugins in the form of a table
  README.md
Labels: document
