Repository apache/seatunnel, pull requests merged in 2022-03, with the labels that each got.

#1354 [Improve]optimize some code
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/utils/SparkStructTypeUtil.java
  seatunnel-connectors/seatunnel-connector-flink-console/src/main/java/org/apache/seatunnel/flink/sink/ConsoleSink.java
  seatunnel-connectors/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisOutputFormat.java
  seatunnel-connectors/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisSink.java
  seatunnel-connectors/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisSinkFunction.java
  seatunnel-connectors/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/sink/DruidOutputFormat.java
  seatunnel-connectors/seatunnel-connector-flink-elasticsearch/src/main/java/org/apache/seatunnel/flink/sink/ElasticsearchOutputFormat.java
  seatunnel-connectors/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/sink/FileSink.java
  seatunnel-connectors/seatunnel-connector-flink-socket/src/main/java/org/apache/seatunnel/flink/source/SocketStream.java
  seatunnel-connectors/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/Clickhouse.scala
  seatunnel-connectors/seatunnel-connector-spark-console/src/main/scala/org/apache/seatunnel/spark/sink/Console.scala
  seatunnel-connectors/seatunnel-connector-spark-doris/src/main/scala/org/apache/seatunnel/spark/sink/DorisUtil.scala
  seatunnel-connectors/seatunnel-connector-spark-email/src/main/scala/org/apache/seatunnel/spark/sink/DataLocator.scala
  seatunnel-connectors/seatunnel-connector-spark-email/src/main/scala/org/apache/seatunnel/spark/sink/Util.scala
  seatunnel-connectors/seatunnel-connector-spark-fake/src/main/scala/org/apache/seatunnel/spark/source/FakeStream.scala
  seatunnel-connectors/seatunnel-connector-spark-file/src/main/scala/org/apache/seatunnel/spark/sink/File.scala
  seatunnel-connectors/seatunnel-connector-spark-hbase/src/main/scala/org/apache/seatunnel/spark/sink/Hbase.scala
  seatunnel-connectors/seatunnel-connector-spark-hive/src/main/scala/org/apache/seatunnel/spark/sink/Hive.scala
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/seatunnel/spark/source/Jdbc.scala
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc2/JDBCOptions.scala
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc2/JDBCPartition.scala
  seatunnel-connectors/seatunnel-connector-spark-kafka/src/main/scala/org/apache/seatunnel/spark/sink/Kafka.scala
  seatunnel-connectors/seatunnel-connector-spark-kafka/src/main/scala/org/apache/seatunnel/spark/sink/KafkaProducerUtil.scala
  seatunnel-connectors/seatunnel-connector-spark-kafka/src/main/scala/org/apache/seatunnel/spark/source/KafkaStream.scala
  seatunnel-connectors/seatunnel-connector-spark-mongodb/src/main/scala/org/apache/seatunnel/spark/sink/MongoDB.scala
  seatunnel-connectors/seatunnel-connector-spark-phoenix/src/main/scala/org/apache/phoenix/spark/sparkExtend.scala
  seatunnel-connectors/seatunnel-connector-spark-tidb/src/main/scala/org/apache/seatunnel/spark/sink/Tidb.scala
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/Seatunnel.java
Labels: improve, Chore

#1355 [Feature][Connector] Add hbase spark source
  docs/en/spark/configuration/source-plugins/Hbase.md
  seatunnel-connectors/seatunnel-connector-spark-hbase/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connector-spark-hbase/src/main/scala/org/apache/seatunnel/spark/source/Hbase.scala
Labels: connectors

#1359 [Chore]Suppress UnresolvedMavenProperty
  pom.xml
Labels: Chore

#1360 [Chore] Unified version management
  pom.xml
Labels: Chore

#1364 [Docs][README]Add License and Users
  README.md
  README_zh_CN.md
Labels: document

#1351 [Feature][Connectors] Add connector-spark-iceberg source
  docs/en/spark/configuration/source-plugins/Iceberg.md
  pom.xml
  seatunnel-connectors/pom.xml
  seatunnel-connectors/seatunnel-connector-spark-iceberg/pom.xml
  seatunnel-connectors/seatunnel-connector-spark-iceberg/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connector-spark-iceberg/src/main/scala/org/apache/seatunnel/spark/source/Iceberg.scala
  seatunnel-core/seatunnel-core-spark/pom.xml
  seatunnel-dist/release-docs/LICENSE
  seatunnel-dist/release-docs/NOTICE
  tools/dependencies/known-dependencies.txt
Labels: connectors

#1210 [Feature] [ci] Automatically generate LICENSE
  .github/workflows/license.yml
  bin/license.py
  docs/en/developement/NewLicenseGuide.md
  pom.xml
  seatunnel-dist/release-docs/LICENSE
  tools/dependencies/checkLicense.sh
Labels: discuss, License

#1374 [Chore] Remove useless file list for unTar
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/utils/CompressionUtils.java
Labels: Chore

#1372 [Improve][Connectors]update httpclient version to 4.5.13 because of doris connection reset
  pom.xml
  seatunnel-dist/release-docs/LICENSE
  tools/dependencies/known-dependencies.txt
Labels: dependencies

#1369 [Feature-1358][Connector] Clickhouse support split mode (#1358)
  docs/en/spark/configuration/sink-plugins/Clickhouse.md
  seatunnel-connectors/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/Clickhouse.scala
Labels: connectors

#1416 [Refactor][Redis] Refactor seatunnel-connector-spark-redis
  docs/en/spark/configuration/sink-plugins/Redis.md
  docs/en/spark/configuration/source-plugins/Redis.md
  seatunnel-connectors/seatunnel-connector-spark-redis/src/main/scala/org/apache/seatunnel/spark/common/Constants.scala
  seatunnel-connectors/seatunnel-connector-spark-redis/src/main/scala/org/apache/seatunnel/spark/common/RedisDataType.scala
  seatunnel-connectors/seatunnel-connector-spark-redis/src/main/scala/org/apache/seatunnel/spark/sink/Redis.scala
  seatunnel-connectors/seatunnel-connector-spark-redis/src/main/scala/org/apache/seatunnel/spark/source/Redis.scala
Labels: improve

#1388 [docs]add the link of spark-hbase-source doc to the README.md #1383
  README.md
  README_zh_CN.md
Labels: document

#1414 [Feature][flink] flink source, sink supports parallelism parameters
  docs/en/flink/configuration/source-plugins/Fake.md
  seatunnel-connectors/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/source/FakeSourceStream.java
  seatunnel-connectors/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/source/KafkaTableStream.java
Labels: feature

#1433 [Bug#851] [spark-clickhouse-sink] Support /DateTime64/DateTime/Date Column
  seatunnel-connectors/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/Clickhouse.scala
Labels: bug

#1460 [doc] Move FAQ to root path and change style
  docs/en/FAQ.md
Labels: document, Chore

#1476 [improve]Format file license header, remove unused blank line.
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-console/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-doris/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-druid/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-druid/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-elasticsearch/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-file/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-file/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-influxdb/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-influxdb/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-socket/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-console/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-doris/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-elasticsearch/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-elasticsearch/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-email/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-fake/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-file/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-file/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hbase/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hbase/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hive/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hive/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hudi/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hudi/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-iceberg/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-iceberg/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-jdbc/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-jdbc/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-kafka/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-kafka/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-kudu/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-kudu/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-mongodb/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-mongodb/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-neo4j/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-phoenix/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-phoenix/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-redis/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-redis/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-socket/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-tidb/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-tidb/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-datastream2table/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkTransform
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-split/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkTransform
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-sql/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkTransform
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-table2datastream/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkTransform
  seatunnel-transforms/seatunnel-transforms-spark/seatunnel-transform-spark-json/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkTransform
  seatunnel-transforms/seatunnel-transforms-spark/seatunnel-transform-spark-split/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkTransform
  seatunnel-transforms/seatunnel-transforms-spark/seatunnel-transform-spark-sql/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkTransform
Labels: Chore

#1475 [Improve][hive] Automatic identify spark hive plugin, add enableHiveSupport
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/SparkEnvironment.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/ConfigBuilder.java
Labels: improve, feature

#1484 [Improvement][Config] Print config in origin order
  LICENSE
  seatunnel-apis/seatunnel-api-base/src/main/java/org/apache/seatunnel/env/Execution.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/BaseFlinkSource.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchExecution.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchSink.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchSource.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchTransform.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/stream/FlinkStreamExecution.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/stream/FlinkStreamSink.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/stream/FlinkStreamSource.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/stream/FlinkStreamTransform.java
  seatunnel-config/seatunnel-config-base/pom.xml
  seatunnel-config/seatunnel-config-shade/src/main/java/org/apache/seatunnel/shade/com/typesafe/config/impl/SimpleConfigObject.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-console/src/main/java/org/apache/seatunnel/flink/sink/ConsoleSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/sink/DruidSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/source/DruidSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-elasticsearch/src/main/java/org/apache/seatunnel/flink/sink/Elasticsearch.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/source/FakeSourceStream.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/sink/FileSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/source/FileSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/sink/InfluxDbSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/source/InfluxDbSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/sink/JdbcSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/source/JdbcSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/sink/KafkaTable.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/source/KafkaTableStream.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-socket/src/main/java/org/apache/seatunnel/flink/source/SocketStream.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/flink/FlinkTaskExecuteCommand.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/ConfigBuilder.java
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-datastream2table/src/main/java/org/apache/seatunnel/flink/transform/DataStreamToTable.java
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-split/src/main/java/org/apache/seatunnel/flink/transform/Split.java
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-sql/src/main/java/org/apache/seatunnel/flink/transform/Sql.java
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-table2datastream/src/main/java/org/apache/seatunnel/flink/transform/TableToDataStream.java
Labels: improve

#1489 [Improvement][core] Optimize generic type
  seatunnel-apis/seatunnel-api-base/src/main/java/org/apache/seatunnel/env/Execution.java
  seatunnel-apis/seatunnel-api-base/src/main/java/org/apache/seatunnel/env/RuntimeEnv.java
  seatunnel-apis/seatunnel-api-base/src/main/java/org/apache/seatunnel/plugin/Plugin.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/BaseFlinkSink.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/FlinkEnvironment.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchExecution.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/stream/FlinkStreamExecution.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/BaseSparkSource.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/SparkEnvironment.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/batch/SparkBatchExecution.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/structuredstream/StructuredStreamingExecution.java
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/stream/SparkStreamingExecution.scala
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-file/src/test/java/org/apache/seatunnel/flink/source/FileSourceTest.java
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-fake/src/main/scala/org/apache/seatunnel/spark/source/Fake.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-file/src/main/scala/org/apache/seatunnel/spark/sink/File.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-file/src/main/scala/org/apache/seatunnel/spark/source/File.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hudi/src/main/scala/org/apache/seatunnel/spark/sink/Hudi.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hudi/src/main/scala/org/apache/seatunnel/spark/source/Hudi.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-kudu/src/main/scala/org/apache/seatunnel/spark/sink/Kudu.scala
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/BaseTaskExecuteCommand.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/flink/FlinkConfValidateCommand.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/flink/FlinkTaskExecuteCommand.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/spark/SparkConfValidateCommand.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/spark/SparkTaskExecuteCommand.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/config/ConfigBuilder.java
Labels: improve

#1496 [doc] Add how to set up dev env
  docs/en/developement/setup.md
Labels: document

#1509 [Bug][Spark] When have empty data source, transform not execute
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/batch/SparkBatchExecution.java
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/stream/SparkStreamingExecution.scala
Labels: bug

#1507 [Feature][Connector] add console limit and batch flink fake source
  docs/en/flink/configuration/sink-plugins/Console.md
  docs/en/flink/configuration/source-plugins/Fake.md
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-console/src/main/java/org/apache/seatunnel/flink/sink/ConsoleSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/source/FakeSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
Labels: improve

#1499 [Refactor][connector-spark][console] Refactored config literal params and default values
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-console/src/main/scala/org/apache/seatunnel/spark/Config.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-console/src/main/scala/org/apache/seatunnel/spark/sink/Console.scala
Labels: Chore

#1510 [Improve][Core] remove Plugin implementation default override method
  seatunnel-apis/seatunnel-api-base/src/main/java/org/apache/seatunnel/plugin/Plugin.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchExecution.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/stream/FlinkStreamExecution.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/batch/SparkBatchExecution.java
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/structuredstream/StructuredStreamingExecution.java
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/stream/SparkStreamingExecution.scala
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-console/src/main/java/org/apache/seatunnel/flink/sink/ConsoleSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/source/FakeSourceStream.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-socket/src/main/java/org/apache/seatunnel/flink/source/SocketStream.java
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-email/src/main/scala/org/apache/seatunnel/spark/sink/Email.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-fake/src/main/scala/org/apache/seatunnel/spark/source/Fake.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-file/src/main/scala/org/apache/seatunnel/spark/source/File.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hbase/src/main/scala/org/apache/seatunnel/spark/source/Hbase.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hive/src/main/scala/org/apache/seatunnel/spark/sink/Hive.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hive/src/main/scala/org/apache/seatunnel/spark/source/Hive.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hudi/src/main/scala/org/apache/seatunnel/spark/source/Hudi.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-iceberg/src/main/scala/org/apache/seatunnel/spark/source/Iceberg.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/seatunnel/spark/source/Jdbc.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-kudu/src/main/scala/org/apache/seatunnel/spark/source/Kudu.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-socket/src/main/scala/org/apache/seatunnel/spark/source/SocketStream.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-tidb/src/main/scala/org/apache/seatunnel/spark/sink/Tidb.scala
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-datastream2table/src/main/java/org/apache/seatunnel/flink/transform/DataStreamToTable.java
  seatunnel-transforms/seatunnel-transforms-spark/seatunnel-transform-spark-json/src/main/scala/org/apache/seatunnel/spark/transform/Json.scala
  seatunnel-transforms/seatunnel-transforms-spark/seatunnel-transform-spark-sql/src/main/scala/org/apache/seatunnel/spark/transform/Sql.scala
Labels: Chore

#1517 [Chore]remove waterdrop code legacy
  seatunnel-config/seatunnel-config-shade/src/main/java/org/apache/seatunnel/shade/com/typesafe/config/impl/ConfigParser.java
Labels: Chore

#1501 [Feature][Connector] Add clickhouse-file sink support clickhouse bullk load
  pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/Clickhouse.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/ClickhouseFile.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/clickhouse/Table.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/clickhouse/filetransfer/FileTransfer.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/clickhouse/filetransfer/RsyncFileTransfer.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/clickhouse/filetransfer/ScpFileTransfer.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/sink/clickhouse/filetransfer/TransferMethod.scala
  seatunnel-dist/release-docs/LICENSE
  seatunnel-dist/release-docs/NOTICE
  tools/dependencies/known-dependencies.txt
Labels: connectors, feature

#1442 [Improve][Config] Refactor StringTemplate to unify variables substitute util
  seatunnel-common/src/main/java/org/apache/seatunnel/common/utils/StringTemplate.java
  seatunnel-common/src/main/java/org/apache/seatunnel/common/utils/VariablesSubstitute.java
  seatunnel-common/src/test/java/org/apache/seatunnel/common/utils/VariablesSubstituteTest.java
  seatunnel-core/seatunnel-core-sql/src/main/java/org/apache/seatunnel/core/sql/job/JobInfo.java
  seatunnel-core/seatunnel-core-sql/src/test/java/org/apache/seatunnel/core/sql/SqlVariableSubstitutionTest.java
  seatunnel-core/seatunnel-core-sql/src/test/resources/flink.sql.conf.template
Labels: improve, Chore

#1563 [doc] Move introduction.md from website
  docs/en/images/seatunnel-workflow.svg
  docs/en/introduction.md
Labels: document, Chore

#1447 [Improve][docs] Add spark jdbc connector examples
  docs/en/spark/configuration/sink-plugins/Jdbc.md
  docs/en/spark/configuration/source-plugins/Jdbc.md
Labels: document

#1572 [Improve][core] Add PluginClosedException type for the Plugin's close method to make the exception more clearly and elegant
  seatunnel-apis/seatunnel-api-base/src/main/java/org/apache/seatunnel/plugin/PluginClosedException.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/BaseTaskExecuteCommand.java
  seatunnel-core/seatunnel-core-base/src/test/java/org/apache/seatunnel/command/BaseTaskExecuteCommandTest.java
Labels: improve, Chore

#1583 [Bug] [core] Arbitrary file write during archive extraction ("Zip Slip")
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/utils/CompressionUtils.java
Labels: bug, core

#1586 [doc] Move sidebars.js from website repo
  docs/sidebars.js
Labels: document

#1588 [hotfix][hbase][docs] Corrected staging_dir attribute
  docs/en/spark/configuration/sink-plugins/Hbase.md
Labels: document

#1559 [Feature] Support JDK 11 compiling
  .github/workflows/backend.yml
  docs/en/developement/setup.md
  pom.xml
  seatunnel-config/seatunnel-config-shade/pom.xml
  seatunnel-dist/release-docs/licenses/LICENSE-spark.txt
  tools/dependencies/known-dependencies.txt
Labels: feature

#1598 [Bug][seatunnel-connector-flink-KafkaSink] fix not being able to send data to Kafka.
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/kafka/sink/KafkaTable.java
Labels: bug

#1607 [Improvement][flink-connector-kafka] rename kafkasink/add semantic/simplify code
  docs/en/flink/configuration/sink-plugins/Kafka.md
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/kafka/sink/KafkaSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
Labels: improve

#1613 [Imporvement][directory] Remove plugins directory
  .github/PULL_REQUEST_TEMPLATE.md
  .licenserc.yaml
  README.md
  README_zh_CN.md
  plugins/.gitkeep
  plugins/json/files/schemas/seatunnel-demo.json
  seatunnel-dist/src/main/assembly/assembly-bin.xml
  seatunnel-dist/src/main/assembly/assembly-src.xml
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-sql/src/main/java/org/apache/seatunnel/flink/transform/Sql.java
Labels: improve

#1567 [Feature][Connector] Change ClickhouseFile read temp data method to local file
  docs/en/connector/sink/ClickhouseFile.md
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/clickhouse/sink/Clickhouse.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/clickhouse/sink/ClickhouseFile.scala
Labels: improve, connectors

#1618 [doc] Fix dead link to start
  .dlc.json
  docs/en/deployment.mdx
  docs/en/intro/about.md
Labels: bug, document

#1617 [doc] Add hint only spark supported for Mesos cluster
  docs/en/deployment.mdx
Labels: document, Chore

#1616 [Improvement][flink-connector-file] Updated default rollover interval constant name
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/file/sink/FileSink.java
Labels: improve, Chore

#1621 [donot-merge][ci] Migrate check-license into license.yml
  .github/workflows/backend.yml
  .github/workflows/license.yml
Labels: CI&CD, Chore

#1633 [Chore]Modify irregular code
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/util/ConfigKeyName.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/jdbc/Config.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/utils/CompressionUtils.java
Labels: Chore

#1638 [Improve][core] add Override on getDeployMode(#1637)
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/SparkCommandArgs.java
Labels: Chore
