Repository apache/seatunnel, pull requests merged in 2022-05, with the labels that each got.

#1793 [Bug] [SparkStarter] when spark extraJavaOptions is null, an exception parameter will be generated, resulting in submission failure
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/SparkStarter.java
Labels: First-time contributor, Spark

#1788 [Feature][Seatunnel-core-flink/spark] format usage help message
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/utils/CommandLineUtils.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/SparkStarter.java
Labels: improve

#1757 [Bug] [Spark] SeaTunnel on spark standalone cluster “plugins.tar.gz” decompress error. #1733
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/core/base/utils/CompressionUtils.java
  seatunnel-core/seatunnel-core-flink-sql/src/main/java/org/apache/seatunnel/core/sql/job/Executor.java
Labels: bug, First-time contributor, Spark

#1803 [Improve][UT] optimize ut logic
  seatunnel-common/src/test/java/org/apache/seatunnel/common/config/TypesafeConfigUtilsTest.java
Labels: Chore

#1800 [Feature][Seatunnel-core-fline] Support Flink dynamic configurations
  docs/en/command/usage.mdx
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/core/base/config/ConfigParser.java
  seatunnel-core/seatunnel-core-flink-sql/src/main/java/org/apache/seatunnel/core/sql/FlinkSqlStarter.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/FlinkStarter.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/utils/CommandLineUtils.java
  seatunnel-core/seatunnel-core-flink/src/test/java/org/apache/seatunnel/core/flink/FlinkStarterTest.java
  seatunnel-core/seatunnel-core-flink/src/test/java/org/apache/seatunnel/core/flink/utils/CommandLineUtilsTest.java
  seatunnel-core/seatunnel-core-flink/src/test/resources/app.conf
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/SparkStarter.java
Labels: feature, Flink

#1798 [Feature][Connector]support flink-connecor-http
  docs/en/connector/source/Http.md
  seatunnel-connectors/plugin-mapping.properties
  seatunnel-connectors/seatunnel-connectors-flink-dist/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-http/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-http/src/main/java/org/apache/seatunnel/flink/http/source/Http.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-http/src/main/java/org/apache/seatunnel/flink/http/source/constant/Settings.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-http/src/main/java/org/apache/seatunnel/flink/http/source/util/HttpClientResult.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-http/src/main/java/org/apache/seatunnel/flink/http/source/util/HttpClientUtils.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-http/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-e2e/seatunnel-flink-e2e/src/test/java/org/apache/seatunnel/e2e/flink/http/HttpSourceToConsoleIT.java
  seatunnel-e2e/seatunnel-flink-e2e/src/test/resources/http/httpsource_to_console.conf
Labels: connectors, Flink

#1807 Add complex seatunnel datatype
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/catalog/Column.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/connector/SupportReadingMetadata.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/ArrayType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/BasicType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/DataType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/EnumType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/ListType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/MapType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/PojoType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/TimestampType.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/ArrayTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/BasicTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/FlinkTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/PojoTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/TimestampTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/utils/TypeConverterUtils.java
Labels: API-refactor

#1809 [Bug] [Connector] Clickhouse sink can not work correctly when use multiple hosts
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/clickhouse/sink/Clickhouse.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/clickhouse/sink/ClickhouseFile.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/clickhouse/sink/Table.scala
Labels: improve, connectors

#1813 Add flink type converter UT
  seatunnel-translation/seatunnel-translation-flink/pom.xml
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/ArrayTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/PojoTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/test/java/org/apache/seatunnel/translation/flink/types/ArrayTypeConverterTest.java
  seatunnel-translation/seatunnel-translation-flink/src/test/java/org/apache/seatunnel/translation/flink/types/BasicTypeConverterTest.java
  seatunnel-translation/seatunnel-translation-flink/src/test/java/org/apache/seatunnel/translation/flink/types/PojoTypeConverterTest.java
Labels: API-refactor

#1819 [Bugfix] [seatunnel-core-spark] plugin jars can't be added correctly in SparkStarter
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/SparkStarter.java
Labels: Spark

#1815 [Bugfix][seatunnel-core-flink] fix flink sql conf parse exception
  seatunnel-core/seatunnel-core-flink-sql/src/main/java/org/apache/seatunnel/core/sql/FlinkSqlStarter.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/FlinkStarter.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/utils/CommandLineUtils.java
  seatunnel-core/seatunnel-core-flink/src/test/java/org/apache/seatunnel/core/flink/utils/CommandLineUtilsTest.java
  seatunnel-core/seatunnel-core-flink/src/test/resources/sql.conf
Labels: bug, Flink-SQL

#1791 [Feature][flink-connector-jdbc] add pre sql and post sql #1789
  docs/en/connector/sink/Jdbc.mdx
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/jdbc/Config.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/jdbc/sink/JdbcSink.java
Labels: First-time contributor, feature

#1811 [hotfix][connector-sink-console][docs] Update example limit description
  docs/en/connector/sink/Console.mdx
Labels: document, Chore

#1836 [Improve][UT] add ut for Flink SQL module
  seatunnel-core/seatunnel-core-flink-sql/src/main/java/org/apache/seatunnel/core/sql/job/Executor.java
  seatunnel-core/seatunnel-core-flink-sql/src/test/java/org/apache/seatunnel/core/sql/job/ExecutorTest.java
  seatunnel-core/seatunnel-core-flink-sql/src/test/java/org/apache/seatunnel/core/sql/job/JobInfoTest.java
Labels: test

#1838 [hotfix][connector-file][docs] Corrected description - removed reference to Doris table
  docs/en/connector/source/File.mdx
Labels: Chore

#1841 [Bug] [example] IDEA cannot run the examples directly without Lombok plugin
  docs/en/contribution/setup.md
Labels: document, First-time contributor

#1844 Improve the generics in flink sink.
  seatunnel-translation/seatunnel-translation-base/src/main/java/org/apache/seatunnel/translation/serialization/SerializerConverter.java
  seatunnel-translation/seatunnel-translation-base/src/main/java/org/apache/seatunnel/translation/sink/SinkAggregatedCommitterConverter.java
  seatunnel-translation/seatunnel-translation-base/src/main/java/org/apache/seatunnel/translation/sink/SinkCommitterConverter.java
  seatunnel-translation/seatunnel-translation-base/src/main/java/org/apache/seatunnel/translation/sink/SinkConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/sink/FlinkCommitterConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/sink/FlinkGlobalCommitter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/sink/FlinkGlobalCommitterConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/sink/FlinkSimpleVersionedSerializerConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/sink/FlinkSink.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/sink/FlinkSinkConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/sink/FlinkSinkWriter.java
Labels: API-refactor

#1847 Add SeaTunnelTaskExecuteCommand
  docs/en/images/seatunnel_starter.png
  seatunnel-api/src/main/java/org/apache/seatunnel/api/sink/SeaTunnelSink.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/source/SeaTunnelSource.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/connector/TableSink.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/connector/TableSource.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/factory/FactoryUtil.java
  seatunnel-apis/seatunnel-api-base/src/main/java/org/apache/seatunnel/apis/base/plugin/Plugin.java
  seatunnel-core/README.md
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/command/SeaTunnelTaskExecuteCommand.java
  seatunnel-translation/seatunnel-translation-base/src/main/java/org/apache/seatunnel/translation/sink/SinkConverter.java
  seatunnel-translation/seatunnel-translation-base/src/main/java/org/apache/seatunnel/translation/source/ParallelSource.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/sink/FlinkSink.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/sink/FlinkSinkConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/source/SeaTunnelParallelSource.java
Labels: API-refactor

#1854 [Bug][Starter] Fix variables cannot be set in flink mode
  seatunnel-core/seatunnel-core-flink-sql/src/main/bin/start-seatunnel-sql.sh
  seatunnel-core/seatunnel-core-flink-sql/src/main/java/org/apache/seatunnel/core/sql/FlinkEnvParameterParser.java
  seatunnel-core/seatunnel-core-flink-sql/src/main/java/org/apache/seatunnel/core/sql/FlinkSqlStarter.java
  seatunnel-core/seatunnel-core-flink-sql/src/test/java/org/apache/seatunnel/core/sql/FlinkEnvParameterParserTest.java
  seatunnel-core/seatunnel-core-flink/src/main/bin/start-seatunnel-flink.sh
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/FlinkEnvParameterParser.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/FlinkStarter.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/utils/CommandLineUtils.java
  seatunnel-core/seatunnel-core-flink/src/test/java/org/apache/seatunnel/core/flink/FlinkEnvParameterParserTest.java
  seatunnel-core/seatunnel-core-flink/src/test/java/org/apache/seatunnel/core/flink/FlinkStarterTest.java
  seatunnel-core/seatunnel-core-flink/src/test/java/org/apache/seatunnel/core/flink/utils/CommandLineUtilsTest.java
Labels: bug, Flink, Flink-SQL

#1860 [hotfix][docs] add Flink version limit less then 1.14.x .
  docs/en/start/local.mdx
Labels: document

#1857 [Improvement][connector-spark-redis] Host and port are optional so removed existence check
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-redis/src/main/scala/org/apache/seatunnel/spark/redis/sink/Redis.scala
Labels: discuss

#1866 [hotfix][core] check plugin type before execute
  pom.xml
  seatunnel-common/pom.xml
  seatunnel-core/seatunnel-core-flink/pom.xml
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/command/FlinkTaskExecuteCommand.java
  seatunnel-core/seatunnel-core-flink/src/test/java/org/apache/seatunnel/core/flink/command/FlinkTaskExecuteCommandTest.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/command/SparkTaskExecuteCommand.java
  seatunnel-dist/release-docs/LICENSE
  tools/dependencies/known-dependencies.txt
Labels: core

#1868 [Api-draft] Fix Spark Sink Can't support batch mode.
  seatunnel-api/src/main/java/org/apache/seatunnel/api/serialization/DefaultSerializer.java
  seatunnel-common/src/main/java/org/apache/seatunnel/common/utils/SerializationUtils.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/sink/SparkSinkInjector.java
Labels: API-refactor

#1873 [Improve][SPI] Use @AutoService to generate SPI file
  docs/en/contribution/contribute-plugin.md
  pom.xml
  seatunnel-common/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-clickhouse/src/main/java/org/apache/seatunnel/flink/clickhouse/sink/ClickhouseBatchSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-clickhouse/src/main/java/org/apache/seatunnel/flink/clickhouse/sink/ClickhouseFileBatchSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-clickhouse/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-console/src/main/java/org/apache/seatunnel/flink/console/sink/ConsoleSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-console/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/doris/sink/DorisSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-doris/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/druid/sink/DruidSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/druid/source/DruidSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-druid/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-druid/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-elasticsearch6/src/main/java/org/apache/seatunnel/flink/elasticsearch6/sink/Elasticsearch6.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-elasticsearch6/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-elasticsearch7/src/main/java/org/apache/seatunnel/flink/elasticsearch/sink/Elasticsearch.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-elasticsearch7/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/fake/source/FakeSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/fake/source/FakeSourceStream.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/file/sink/FileSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/file/source/FileSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-file/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-file/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-http/src/main/java/org/apache/seatunnel/flink/http/source/Http.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-http/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/influxdb/sink/InfluxDbSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/influxdb/source/InfluxDbSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-influxdb/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-influxdb/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/jdbc/sink/JdbcSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/jdbc/source/JdbcSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-jdbc/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/kafka/sink/KafkaSink.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/kafka/source/KafkaTableStream.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-kafka/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-socket/src/main/java/org/apache/seatunnel/flink/socket/source/SocketStream.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-socket/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSource
Labels: improve, connectors

#1886 Add license header
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/ArrayType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/EnumType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/MapType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/TimestampType.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/SparkState.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/types/BasicTypeConverter.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/types/SparkDataTypeConverter.java
Labels: API-refactor

#1880 [Feature][seatunnel-connector-flink-fake] Support FakeSourceStream to mock data.
  docs/en/connector/source/Fake.mdx
  pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/fake/Config.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/fake/source/FakeSource.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/fake/source/FakeSourceStream.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/fake/source/MockSchema.java
  seatunnel-dist/release-docs/LICENSE
  seatunnel-dist/release-docs/licenses/LICENSE-jmockdata.txt
  tools/dependencies/known-dependencies.txt
Labels: dependencies, connectors, feature, Flink

#1871 [Api-Draft] SeaTunnel Source support Spark engine.
  seatunnel-api/src/main/java/org/apache/seatunnel/api/source/SourceSplitEnumerator.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-fake/src/main/java/org/apache/seatunnel/connectors/seatunnel/fake/source/FakeSourceSplitEnumerator.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/serialization/InternalRowSerialization.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/Handover.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/InternalRowCollector.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/ParallelSourceSupport.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/SeaTunnelSourceSupport.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/batch/BatchParallelSourceReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/batch/BatchPartition.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/batch/BatchPartitionReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/continnous/ContinuousParallelSourceReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/continnous/ContinuousPartition.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/continnous/ContinuousPartitionReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/continnous/CoordinationState.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/continnous/ReaderState.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/micro/MicroBatchParallelSourceReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
Labels: API-refactor

#1892 fix seatunnel source parallelism
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/FlinkEnvironment.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-console/src/main/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSinkWriter.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-fake/src/main/java/org/apache/seatunnel/connectors/seatunnel/fake/source/FakeSourceReader.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/command/SeaTunnelApiTaskExecuteCommand.java
Labels: API-refactor

#1902 Add plugin processor for SeaTunnel API
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/command/SeaTunnelApiTaskExecuteCommand.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/AbstractPluginExecuteProcessor.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/PluginExecuteProcessor.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/SeaTunnelTaskExecution.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/SinkExecuteProcessor.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/SourceExecuteProcessor.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/TransformExecuteProcessor.java
Labels: API-refactor

#1904 Support set SeaTunnelRowTypeInfo to SeaTunnelSink
  seatunnel-api/src/main/java/org/apache/seatunnel/api/sink/SeaTunnelSink.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/Converter.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/PojoType.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/SeaTunnelRowTypeInfo.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-console/src/main/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSink.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-console/src/main/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSinkWriter.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/SinkExecuteProcessor.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/ArrayTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/BasicTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/FlinkTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/PojoTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/types/TimestampTypeConverter.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/utils/TypeConverterUtils.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/types/ArrayTypeConverter.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/types/BasicTypeConverter.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/types/PojoTypeConverter.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/types/SparkDataTypeConverter.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/types/TimestampTypeConverter.java
Labels: API-refactor

#1909 [hotfix] [seatunnel-core-flink] Fix flink core cannot check source config.
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/command/FlinkTaskExecuteCommand.java
Labels: bug

#1914 Add SeaTunnel plugin lifecycle
  seatunnel-api/src/main/java/org/apache/seatunnel/api/common/SeaTunnelPluginLifeCycle.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/sink/SeaTunnelSink.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/source/SeaTunnelSource.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-console/src/main/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSink.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-fake/src/main/java/org/apache/seatunnel/connectors/seatunnel/fake/source/FakeSource.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/AbstractPluginExecuteProcessor.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/SinkExecuteProcessor.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/SourceExecuteProcessor.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/TransformExecuteProcessor.java
Labels: API-refactor

#1913 [Api-draft] Add spark example
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-fake/src/main/java/org/apache/seatunnel/connectors/seatunnel/fake/source/FakeSourceReader.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/core/base/command/AbstractCommandArgs.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/args/FlinkCommandArgs.java
  seatunnel-core/seatunnel-core-spark/pom.xml
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/command/SeaTunnelApiConfValidateCommand.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/command/SeaTunnelApiTaskExecuteCommand.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/command/SparkCommandBuilder.java
  seatunnel-examples/seatunnel-spark-examples/pom.xml
  seatunnel-examples/seatunnel-spark-examples/src/main/java/org/apache/seatunnel/example/spark/SeaTunnelApiExample.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/sink/SparkSink.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/SeaTunnelSourceSupport.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/micro/MicroBatchParallelSourceReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/utils/TypeConverterUtils.java
  seatunnel-translation/seatunnel-translation-spark/src/main/resources/META-INF/services/org.apache.spark.sql.sources.DataSourceRegister
  tools/dependencies/known-dependencies.txt
Labels: API-refactor

#1916 Support set batch mode in flink
  seatunnel-api/src/main/java/org/apache/seatunnel/api/common/SeaTunnelContext.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-fake/src/main/java/org/apache/seatunnel/connectors/seatunnel/fake/source/FakeSource.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/SeaTunnelTaskExecution.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/core/flink/execution/SourceExecuteProcessor.java
  seatunnel-examples/seatunnel-flink-examples/src/main/resources/examples/seatunnel_fake_to_console.conf
Labels: API-refactor

#1918 [Api-Draft] Spark InternalRow Serialization
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/serialization/InternalRowSerialization.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/serialization/SparkRowSerialization.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/sink/SparkDataWriter.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/InternalRowCollector.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/batch/BatchParallelSourceReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/batch/BatchPartition.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/batch/BatchPartitionReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/continnous/ContinuousParallelSourceReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/continnous/ContinuousPartition.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/continnous/ContinuousPartitionReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/micro/MicroBatchParallelSourceReader.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/micro/MicroBatchPartition.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/micro/MicroBatchPartitionReader.java
Labels: API-refactor

#1925 Add Transform to SeaTunnel Spark API
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/command/SeaTunnelApiTaskExecuteCommand.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/execution/AbstractPluginExecuteProcessor.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/execution/PluginExecuteProcessor.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/execution/SeaTunnelTaskExecution.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/execution/SinkExecuteProcessor.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/execution/SourceExecuteProcessor.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/core/spark/execution/TransformExecuteProcessor.java
  seatunnel-examples/seatunnel-spark-examples/src/main/java/org/apache/seatunnel/example/spark/SeaTunnelApiExample.java
  seatunnel-examples/seatunnel-spark-examples/src/main/resources/examples/seatunnel-spark.conf
Labels: API-refactor

#1928 Add new architecture
  docs/en/images/seatunnel_architecture.png
Labels: API-refactor

#1933 Add SeaTunnel runtime environment
  seatunnel-api/src/main/java/org/apache/seatunnel/api/sink/SeaTunnelSink.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/source/SeaTunnelRuntimeEnvironment.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/source/SeaTunnelSource.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-fake/src/main/java/org/apache/seatunnel/connectors/seatunnel/fake/source/FakeSource.java
Labels: API-refactor

#1937 [Feature][e2e] Use seatunnel script to submit job in e2e
  seatunnel-e2e/seatunnel-flink-e2e/src/test/java/org/apache/seatunnel/e2e/flink/FlinkContainer.java
  seatunnel-e2e/seatunnel-flink-sql-e2e/src/test/java/org/apache/seatunnel/e2e/flink/sql/FlinkContainer.java
  seatunnel-e2e/seatunnel-spark-e2e/src/test/java/org/apache/seatunnel/e2e/spark/SparkContainer.java
Labels: test

#1911 [Feature] [clickhouse| ClickhouseFile support ReplicatedMergeTree
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-clickhouse/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-clickhouse/src/main/java/org/apache/seatunnel/flink/clickhouse/sink/client/ClickhouseClient.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-clickhouse/src/test/java/org/apache/seatunnel/flink/clickhouse/sink/ClickhouseFileTest.java
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/clickhouse/sink/Table.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/test/scala/org/apache/seatunnel/spark/clickhouse/sink/ClickhouseFileTest.scala
Labels: connectors

#1955 Fix Kafka Sink on flink cannot serialize element
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/serialize/DefaultSeaTunnelRowSerializer.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/serialize/SeaTunnelRowSerializer.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/sink/KafkaNoTransactionSender.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/sink/KafkaProduceSender.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/sink/KafkaSink.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/sink/KafkaSinkWriter.java
  seatunnel-connectors/seatunnel-connectors-seatunnel/seatunnel-connectors-seatunnel-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/sink/KafkaTransactionSender.java
  seatunnel-core/seatunnel-flink-starter/src/main/java/org/apache/seatunnel/core/starter/flink/execution/AbstractPluginExecuteProcessor.java
  seatunnel-core/seatunnel-flink-starter/src/main/java/org/apache/seatunnel/core/starter/flink/execution/FlinkTaskExecution.java
  seatunnel-core/seatunnel-flink-starter/src/main/java/org/apache/seatunnel/core/starter/flink/execution/SinkExecuteProcessor.java
  seatunnel-core/seatunnel-flink-starter/src/main/java/org/apache/seatunnel/core/starter/flink/execution/SourceExecuteProcessor.java
  seatunnel-core/seatunnel-flink-starter/src/main/java/org/apache/seatunnel/core/starter/flink/execution/TransformExecuteProcessor.java
Labels: API-refactor

#1964 Add new api starter to distribution
  seatunnel-core/seatunnel-flink-starter/src/main/bin/start-seatunnel-flink-new-connector.sh
  seatunnel-core/seatunnel-spark-starter/src/main/bin/start-seatunnel-spark-new-connector.sh
  seatunnel-dist/src/main/assembly/assembly-bin.xml
Labels: API-refactor

#1966 [Api-draft] add README.zh.md for new api
  seatunnel-connectors/seatunnel-connectors-seatunnel/README.zh.md
Labels: API-refactor

#1970 [Feature][Sink] custom redis expire time (#1953)
  docs/en/connector/sink/Redis.md
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-redis/src/main/scala/org/apache/seatunnel/spark/redis/common/Constants.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-redis/src/main/scala/org/apache/seatunnel/spark/redis/sink/Redis.scala
Labels: connectors, First-time contributor, feature
