Repository apache/seatunnel, pull requests merged in 2022-04, with the labels that each got.

#1644 [License]Redeclare dual license to avoid ambiguity
  seatunnel-dist/release-docs/LICENSE
Labels: License

#1627 [DOCS]Update spark dependency version notes
  docs/en/start/local.mdx
  docs/zh-CN/spark/installation.md
  docs/zh-CN/spark/quick-start.md
Labels: document

#1668 [Bug] [UT] CompleteTest#testVariables failed due to system property not set
  .github/PULL_REQUEST_TEMPLATE.md
  seatunnel-config/seatunnel-config-shade/src/test/java/org/apache/seatunnel/config/CompleteTest.java
Labels: bug

#1675 [Improvement][connector] Build different version of elasticsearch connector by property
  docs/en/connector/sink/Elasticsearch.mdx
  pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-elasticsearch6/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-elasticsearch7/pom.xml
  seatunnel-core/seatunnel-core-flink/pom.xml
Labels: improve

#1656 [CI]Add Sonar Check
  .github/workflows/code-analysys.yml
  tools/sonarcheck/check.sh
Labels: CI&CD, don't merge

#1687 [Improvement][connector-spark-socket] Refactored config arguments and default values
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-socket/src/main/scala/org/apache/seatunnel/spark/socket/Config.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-socket/src/main/scala/org/apache/seatunnel/spark/socket/source/SocketStream.scala
Labels: Chore

#1689 [doc] Rename development to contribution to avoid confusion
  README.md
  docs/en/contribution/new-license.md
  docs/en/contribution/setup.md
  docs/sidebars.js
Labels: document, Chore

#1706 [hotfix][examples] Add flink-runtime-web to flink example
  pom.xml
  seatunnel-examples/seatunnel-flink-examples/pom.xml
Labels: examples, Flink

#1707 [Improvement][connector-spark-email] Refactored config parameter constants and default values
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-email/src/main/scala/org/apache/seatunnel/spark/email/Config.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-email/src/main/scala/org/apache/seatunnel/spark/email/sink/Email.scala
Labels: Chore

#1710 [Bug][Connector] Fixed ConsoleSink submit job twice.
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchExecution.java
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-console/src/main/java/org/apache/seatunnel/flink/console/sink/ConsoleSink.java
Labels: bug

#1712 [doc] Add guide on how to Set Up SeaTunnel with Kubernetes
  docs/en/start/kubernetes.mdx
  docs/sidebars.js
Labels: document, docker&k8s, First-time contributor

#1718 [Improve][Connectors]add IT tetscase for http soure
  seatunnel-core/seatunnel-core-spark/pom.xml
  seatunnel-e2e/seatunnel-spark-e2e/src/test/java/org/apache/seatunnel/e2e/spark/fake/HttpSourceToConsoleIT.java
  seatunnel-e2e/seatunnel-spark-e2e/src/test/resources/http/httpsource_to_console.conf
Labels: test

#1719 [Bug][IT]Fix it run problem in windows
  seatunnel-e2e/seatunnel-flink-e2e/src/test/java/org/apache/seatunnel/e2e/flink/FlinkContainer.java
  seatunnel-e2e/seatunnel-spark-e2e/src/test/java/org/apache/seatunnel/e2e/spark/SparkContainer.java
Labels: test, Windows

#1720 [Improve] [Core] Extract the CommandArgs implement class field
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/Seatunnel.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/AbstractCommandArgs.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/BaseTaskExecuteCommand.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/Command.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/CommandArgs.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/CommandBuilder.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/CommandFactory.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/FlinkCommandArgs.java
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/command/SparkCommandArgs.java
Labels: core, improve

#1730 [hotfix][generic] Optimize some generic type code
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/stream/FlinkStreamExecution.java
  seatunnel-transforms/seatunnel-transforms-flink/seatunnel-transform-flink-split/src/main/java/org/apache/seatunnel/flink/transform/Split.java
Labels: First-time contributor, Minor

#1697 [Feature][CI] Support build on windows
  .github/workflows/backend.yml
  seatunnel-common/src/main/java/org/apache/seatunnel/common/config/Common.java
  seatunnel-common/src/test/java/org/apache/seatunnel/common/config/CommonTest.java
  seatunnel-config/seatunnel-config-shade/src/test/java/org/apache/seatunnel/config/CompleteTest.java
  seatunnel-config/seatunnel-config-shade/src/test/java/org/apache/seatunnel/config/ConfigFactoryTest.java
  seatunnel-config/seatunnel-config-shade/src/test/java/org/apache/seatunnel/config/JsonFormatTest.java
  seatunnel-config/seatunnel-config-shade/src/test/java/org/apache/seatunnel/config/utils/FileUtils.java
Labels: CI&CD, Windows

#1724 [Bug][Spark] Update jackson version to fix LocalSparkExample can't run problem
  pom.xml
  seatunnel-dist/release-docs/LICENSE
  tools/dependencies/known-dependencies.txt
Labels: dependencies, core

#1695 [Feature][Connectors] add source plugin: seatunnel-connector-spark-webhook
  docs/en/connector/source/Webhook.md
  seatunnel-connectors/seatunnel-connectors-spark/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/src/main/resources/META-INF.services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/src/main/scala/org/apache/seatunnel/spark/webhook/source/HttpData.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/src/main/scala/org/apache/seatunnel/spark/webhook/source/HttpPushServlet.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/src/main/scala/org/apache/seatunnel/spark/webhook/source/JettyServerStream.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/src/main/scala/org/apache/seatunnel/spark/webhook/source/Webhook.scala
Labels: connectors, Spark

#1754 Retrieve seatunnel-config form maven
  pom.xml
  seatunnel-apis/seatunnel-api-base/pom.xml
  seatunnel-apis/seatunnel-api-flink/pom.xml
  seatunnel-common/pom.xml
  seatunnel-config/README.md
  tools/dependencies/known-dependencies.txt
Labels: dependencies, core, improve

#1749 [Bug] [Connector] Clickhouse sink Int8/UInt8/Int16/UInt16/Int32 datat…
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/src/main/scala/org/apache/seatunnel/spark/clickhouse/sink/Clickhouse.scala
Labels: connectors, First-time contributor, Spark

#1758 [Bug][Connector]fix runtime errors of webhook connector
  docs/en/connector/source/Webhook.md
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/src/main/scala/org/apache/seatunnel/spark/webhook/source/HttpData.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/src/main/scala/org/apache/seatunnel/spark/webhook/source/HttpPushServlet.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/src/main/scala/org/apache/seatunnel/spark/webhook/source/JettyServer.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/src/main/scala/org/apache/seatunnel/spark/webhook/source/WebhookStream.scala
Labels: connectors

#1765 [Feature][connectors] Simplify connectors module
  pom.xml
  seatunnel-connectors/plugin-mapping.properties
  seatunnel-connectors/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink-dist/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark-dist/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-clickhouse/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-elasticsearch/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-email/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hbase/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-http/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-mongodb/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-phoenix/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-webhook/pom.xml
  seatunnel-dist/src/main/assembly/assembly-bin.xml
  seatunnel-e2e/seatunnel-flink-e2e/src/test/java/org/apache/seatunnel/e2e/flink/FlinkContainer.java
  seatunnel-e2e/seatunnel-spark-e2e/src/test/java/org/apache/seatunnel/e2e/spark/SparkContainer.java
  seatunnel-e2e/seatunnel-spark-e2e/src/test/resources/log4j.properties
  seatunnel-examples/seatunnel-flink-examples/pom.xml
  seatunnel-examples/seatunnel-flink-sql-examples/pom.xml
  seatunnel-examples/seatunnel-spark-examples/pom.xml
Labels: core, improve, connectors

#1768 [hotfix][Connecotr]Remove useless directory
  seatunnel-connectors/seatunnel-connectors-flink-list/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink-list/seatunnel-connectors-flink-list-current/pom.xml
  seatunnel-connectors/seatunnel-connectors-flink-list/seatunnel-connectors-flink-list-previous/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark-list/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark-list/seatunnel-connectors-spark-list-current/pom.xml
  seatunnel-connectors/seatunnel-connectors-spark-list/seatunnel-connectors-spark-list-previous/pom.xml
Labels: connectors

#1766 [Bug][Spark]Update jackson scala module version.
  pom.xml
  seatunnel-dist/release-docs/LICENSE
  tools/dependencies/known-dependencies.txt
Labels: dependencies, Spark

#1740 [Feature][Doc] Add Config file introduce.
  docs/en/concept/config.md
  docs/en/connector/config-example.md
  docs/en/faq.md
  docs/en/start/local.mdx
  docs/sidebars.js
Labels: document
