Repository apache/seatunnel, pull requests merged in 2022-07, with the labels that each got.

#2036 [Feature][Connector] add IT for Assert Sink in e2e module
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchExecution.java
  seatunnel-connectors/plugin-mapping.properties
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-assert/src/main/java/org/apache/seatunnel/flink/assertion/sink/AssertSink.java
  seatunnel-e2e/seatunnel-flink-e2e/src/test/java/org/apache/seatunnel/e2e/flink/assertion/FakeSourceToAssertIT.java
  seatunnel-e2e/seatunnel-flink-e2e/src/test/resources/assertion/fakesource_to_assert.conf
Labels: test

#2118 [Bug] [seatunnel-connector-flink-fake] Type is not supported: BigInteger
  docs/en/connector/source/Fake.mdx
  seatunnel-connectors/seatunnel-connectors-flink/seatunnel-connector-flink-fake/src/main/java/org/apache/seatunnel/flink/fake/source/MockSchema.java
Labels: bug, connectors

#2124 [SeaTunnel API] [Sink] remove useless context field
  docs/en/connector/source/Http.md
  seatunnel-api/src/main/java/org/apache/seatunnel/api/sink/DefaultSinkWriterContext.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/sink/SinkWriter.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/xa/SemanticXidGenerator.java
  seatunnel-core/seatunnel-flink-starter/src/main/java/org/apache/seatunnel/core/starter/flink/execution/SinkExecuteProcessor.java
  seatunnel-core/seatunnel-spark-starter/src/main/java/org/apache/seatunnel/core/starter/spark/execution/SinkExecuteProcessor.java
  seatunnel-translation/seatunnel-translation-flink/src/main/java/org/apache/seatunnel/translation/flink/sink/FlinkSink.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/sink/SparkDataSourceWriter.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/sink/SparkDataWriterFactory.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/sink/SparkSink.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/sink/SparkSinkInjector.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/sink/SparkStreamWriter.java
Labels: improve, connectors-v2

#2131 [Bump]Upgrade commons version
  pom.xml
  seatunnel-dist/release-docs/LICENSE
  seatunnel-dist/release-docs/NOTICE
  tools/dependencies/known-dependencies.txt
Labels: dependencies

#2085 Fix the data output exception when accessing Hive using Spark JDBC So…
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/seatunnel/spark/jdbc/source/Jdbc.scala
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/seatunnel/spark/jdbc/source/util/HiveDialet.scala
Labels: connectors, First-time contributor, Spark

#2165 [Bug] [seatunnel-core] Failed to get APP_DIR path bug fixed
  seatunnel-core/seatunnel-core-flink-sql/src/main/bin/start-seatunnel-sql.sh
  seatunnel-core/seatunnel-core-flink/src/main/bin/start-seatunnel-flink.sh
  seatunnel-core/seatunnel-core-spark/src/main/bin/start-seatunnel-spark.sh
  seatunnel-core/seatunnel-flink-starter/src/main/bin/start-seatunnel-flink-new-connector.sh
  seatunnel-core/seatunnel-spark-starter/src/main/bin/start-seatunnel-spark-new-connector.sh
Labels: core

#2203 [Bug][Connector]Hudi Source loads the data twice
  seatunnel-connectors/seatunnel-connectors-spark/seatunnel-connector-spark-hudi/src/main/scala/org/apache/seatunnel/spark/hudi/source/Hudi.scala
Labels: bug, connectors

#2231 [doc] Correct v2 connector avoid duplicate slug
  docs/sidebars.js
Labels: document, Chore

#2251 using constants replace the hard code string
  seatunnel-common/src/main/java/org/apache/seatunnel/common/Constants.java
  seatunnel-core/seatunnel-spark-starter/src/main/java/org/apache/seatunnel/core/starter/spark/execution/SourceExecuteProcessor.java
  seatunnel-core/seatunnel-spark-starter/src/main/java/org/apache/seatunnel/core/starter/spark/execution/SparkExecution.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/sink/SparkSink.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/sink/SparkSinkInjector.java
  seatunnel-translation/seatunnel-translation-spark/src/main/java/org/apache/seatunnel/translation/spark/source/SeaTunnelSourceSupport.java
Labels: Chore

#2237 [Connector-V2] Add parquet file reader for Hive Source Connector (#2199)
  seatunnel-connectors-v2/connector-hive/pom.xml
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/source/HiveSource.java
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/source/file/reader/format/ParquetReadStrategy.java
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/source/file/reader/format/ReadStrategyFactory.java
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/source/file/reader/type/FileTypeEnum.java
Labels: connectors-v2

#2179 [api] improve config options
  seatunnel-api/pom.xml
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/Option.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/Options.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/ReadonlyConfig.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/util/Condition.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/util/ConfigUtil.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/util/Expression.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/util/OptionRule.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/util/OptionValidationException.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/util/RequiredOption.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/factory/Factory.java
  seatunnel-api/src/test/java/org/apache/seatunnel/api/configuration/OptionTest.java
  seatunnel-api/src/test/java/org/apache/seatunnel/api/configuration/ReadableConfigTest.java
  seatunnel-api/src/test/java/org/apache/seatunnel/api/configuration/util/ConditionTest.java
  seatunnel-api/src/test/java/org/apache/seatunnel/api/configuration/util/ExpressionTest.java
  seatunnel-api/src/test/java/org/apache/seatunnel/api/configuration/util/OptionRuleTest.java
  seatunnel-api/src/test/resources/conf/option-test.conf
  tools/dependencies/known-dependencies.txt
Labels: core, feature

#2205 [Connector-V2][Doc]add new socket source doc
  docs/en/connector-v2/source/Socket.md
Labels: document

#2273 [Connector-V2] Add parquet writer in file connector
  docs/en/connector-v2/sink/File.mdx
  seatunnel-connectors-v2/connector-file/connector-file-base/pom.xml
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/config/FileFormat.java
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/writer/FileSinkTransactionFileNameGenerator.java
  seatunnel-connectors-v2/connector-file/connector-file-hadoop/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/hdfs/HdfsFileSinkPlugin.java
  seatunnel-connectors-v2/connector-file/connector-file-hadoop/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/hdfs/HdfsParquetTransactionStateFileWriter.java
  seatunnel-connectors-v2/connector-file/connector-file-hadoop/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/hdfs/HdfsTransactionStateFileWriteFactory.java
  seatunnel-connectors-v2/connector-file/connector-file-hadoop/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/hdfs/HdfsUtils.java
  seatunnel-connectors-v2/connector-file/connector-file-local/pom.xml
  seatunnel-connectors-v2/connector-file/connector-file-local/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/local/LocalFileSinkPlugin.java
  seatunnel-connectors-v2/connector-file/connector-file-local/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/local/LocalParquetTransactionStateFileWriter.java
  seatunnel-connectors-v2/connector-file/connector-file-local/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/local/LocalTransactionStateFileWriteFactory.java
Labels: connectors-v2

#2275 [Connector-V2] Add file type check logic in hive connector
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/source/file/reader/format/OrcReadStrategy.java
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/source/file/reader/format/ParquetReadStrategy.java
Labels: improve, connectors-v2

#2280 [CI][doc] Add build CI for document changes
  .github/workflows/documents.yml
  tools/documents/sync.sh
Labels: document, CI&CD
