Repository apache/seatunnel, pull requests merged in 2022-01, with the labels that each got.

#915 Fixes class logger variable name, keep the same with other class file.
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/FlinkEnvironment.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/util/EnvironmentUtil.java
  seatunnel-connectors/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisOutputFormat.java
  seatunnel-connectors/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisStreamLoad.java
  seatunnel-connectors/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/sink/FileSink.java
Labels: Chore

#917 [style] Fix typo
  seatunnel-apis/seatunnel-api-spark/src/main/java/org/apache/seatunnel/spark/utils/SparkStructTypeUtil.java
  seatunnel-connectors/seatunnel-connector-spark-mongodb/src/main/scala/org/apache/seatunnel/spark/source/MongoDB.scala
Labels: Chore

#911 [SeaTunnel #910] Support spark-hive sink
  docs/en/configuration/sink-plugins/Hive.md
  seatunnel-connectors/seatunnel-connector-spark-hive/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connector-spark-hive/src/main/scala/org/apache/seatunnel/spark/sink/Hive.scala
Labels: plugin

#945 Optimize Use TypesafeConfigUtils
  seatunnel-connectors/seatunnel-connector-spark-doris/src/main/scala/org/apache/seatunnel/spark/sink/Doris.scala
  seatunnel-connectors/seatunnel-connector-spark-doris/src/main/scala/org/apache/seatunnel/spark/sink/DorisUtil.scala
Labels: improve

#950 [Github]Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Chore

#951 Use collection methods instead
  seatunnel-connectors/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/sink/JsonRowOutputFormat.java
Labels: Chore

#941 Fix Github Action pending problem
  .github/workflows/backend.yml
  .github/workflows/publish-docker.yaml
Labels: CI&CD

#920 [SeaTunnel #919] Add spark-hudi source plugin
  docs/en/configuration/source-plugins/Hudi.md
  seatunnel-connectors/seatunnel-connector-spark-hudi/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connector-spark-hudi/src/main/scala/org/apache/seatunnel/spark/source/Hudi.scala
Labels: plugin

#959 [SeaTunnel #856][community] Migrate organization from interestinglab to apache
  README_zh_CN.md
  config/spark.streaming.conf.template
  plugins/json/files/schemas/seatunnel-demo.json
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/Seatunnel.java
Labels: Chore

#954 [SeaTunnel #953] Check required options in script
  bin/start-seatunnel-sql.sh
  seatunnel-core/seatunnel-core-flink/src/main/bin/start-seatunnel-flink.sh
  seatunnel-core/seatunnel-core-spark/src/main/bin/start-seatunnel-spark.sh
Labels: core, improve

#960 [Feature][seatunnel-examples] flink local environment run quickly and debug locally developed code easily
  pom.xml
  seatunnel-examples/pom.xml
  seatunnel-examples/seatunnel-flink-examples/pom.xml
  seatunnel-examples/seatunnel-flink-examples/src/main/java/org/apache/seatunnel/test/flink/LocalTest.java
  seatunnel-examples/seatunnel-flink-examples/src/main/resources/examples/fake_to_console.config
  seatunnel-examples/seatunnel-flink-examples/src/main/resources/log4j.properties
Labels: improve

#926 [SeaTunnel #925] Add spark-kudu sink plugin
  docs/en/configuration/sink-plugins/Kudu.md
  seatunnel-connectors/seatunnel-connector-spark-kudu/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connector-spark-kudu/src/main/scala/org/apache/seatunnel/spark/sink/Kudu.scala
Labels: plugin

#975 [SeaTunnel#974]Fix compile error caused by kudu plugin
  seatunnel-connectors/seatunnel-connector-spark-kudu/src/main/scala/org/apache/seatunnel/spark/sink/Kudu.scala
Labels: bug

#992 [Feature][API-FLINK] flink core add blink planner
  pom.xml
  seatunnel-apis/seatunnel-api-flink/pom.xml
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/FlinkEnvironment.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/util/ConfigKeyName.java
Labels: First-time contributor

#984 [SeaTunnel#983] Speed up CI/CD with multi threads
  .github/workflows/backend.yml
Labels: CI&CD, improve

#970 [SeaTunnel#969]Add Druid Flink Sink plugin
  docs/en/configuration/sink-plugins/Druid.md
  pom.xml
  seatunnel-connectors/seatunnel-connector-flink-druid/pom.xml
  seatunnel-connectors/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/sink/DruidOutputFormat.java
  seatunnel-connectors/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/sink/DruidSink.java
  seatunnel-connectors/seatunnel-connector-flink-druid/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
Labels: connectors

#991 [SeaTunnel #990] Optimize redundant code for CheckResult by CheckConfigUtil
  seatunnel-connectors/seatunnel-connector-flink-elasticsearch/src/main/java/org/apache/seatunnel/flink/sink/Elasticsearch.java
  seatunnel-connectors/seatunnel-connector-spark-doris/src/main/scala/org/apache/seatunnel/spark/sink/Doris.scala
  seatunnel-connectors/seatunnel-connector-spark-elasticsearch/src/main/scala/org/apache/seatunnel/spark/sink/Elasticsearch.scala
  seatunnel-connectors/seatunnel-connector-spark-elasticsearch/src/main/scala/org/apache/seatunnel/spark/source/Elasticsearch.scala
  seatunnel-connectors/seatunnel-connector-spark-email/src/main/scala/org/apache/seatunnel/spark/sink/Email.scala
  seatunnel-connectors/seatunnel-connector-spark-hbase/src/main/scala/org/apache/seatunnel/spark/sink/Hbase.scala
  seatunnel-connectors/seatunnel-connector-spark-hive/src/main/scala/org/apache/seatunnel/spark/sink/Hive.scala
  seatunnel-connectors/seatunnel-connector-spark-hudi/src/main/scala/org/apache/seatunnel/spark/sink/Hudi.scala
  seatunnel-connectors/seatunnel-connector-spark-hudi/src/main/scala/org/apache/seatunnel/spark/source/Hudi.scala
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/seatunnel/spark/sink/Jdbc.scala
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/seatunnel/spark/source/Jdbc.scala
  seatunnel-connectors/seatunnel-connector-spark-kafka/src/main/scala/org/apache/seatunnel/spark/source/KafkaStream.scala
  seatunnel-connectors/seatunnel-connector-spark-phoenix/src/main/scala/org/apache/seatunnel/spark/sink/Phoenix.scala
  seatunnel-connectors/seatunnel-connector-spark-phoenix/src/main/scala/org/apache/seatunnel/spark/source/Phoenix.scala
  seatunnel-transforms/seatunnel-transform-spark-split/src/main/scala/org/apache/seatunnel/spark/transform/Split.scala
Labels: improve

#994 [Improvement][example]Use ${project.version} instead of deprecated ${parent.version}
  seatunnel-examples/seatunnel-flink-examples/pom.xml
Labels: improve

#808 [Feature][docs] Document migration
  docs/en/flink/commands/start-seatunnel-flink.sh.md
  docs/en/flink/configuration/ConfigExamples.md
  docs/en/flink/configuration/sink-plugins/Console.md
  docs/en/flink/configuration/sink-plugins/Elasticsearch.md
  docs/en/flink/configuration/sink-plugins/File.md
  docs/en/flink/configuration/sink-plugins/Jdbc.md
  docs/en/flink/configuration/sink-plugins/Kafka.md
  docs/en/flink/configuration/sink-plugins/sink-plugin.md
  docs/en/flink/configuration/source-plugins/Fake.md
  docs/en/flink/configuration/source-plugins/File.md
  docs/en/flink/configuration/source-plugins/Jdbc.md
  docs/en/flink/configuration/source-plugins/Kafka.md
  docs/en/flink/configuration/source-plugins/Socket.md
  docs/en/flink/configuration/source-plugins/source-plugin.md
  docs/en/flink/configuration/transform-plugins/Split.md
  docs/en/flink/configuration/transform-plugins/Sql.md
  docs/en/flink/configuration/transform-plugins/transform-plugin.md
  docs/en/flink/deployment.md
  docs/en/flink/installation.md
  docs/en/flink/quick-start.md
  docs/en/spark/commands/start-seatunnel-spark.sh.md
  docs/en/spark/configuration/ConfigExamples.md
  docs/en/spark/configuration/sink-plugins/Clickhouse.md
  docs/en/spark/configuration/sink-plugins/Console.md
  docs/en/spark/configuration/sink-plugins/Elasticsearch.md
  docs/en/spark/configuration/sink-plugins/Email.md
  docs/en/spark/configuration/sink-plugins/File.md
  docs/en/spark/configuration/sink-plugins/Hbase.md
  docs/en/spark/configuration/sink-plugins/Hdfs.md
  docs/en/spark/configuration/sink-plugins/Hudi.md
  docs/en/spark/configuration/sink-plugins/Kafka.md
  docs/en/spark/configuration/sink-plugins/Mysql.md
  docs/en/spark/configuration/sink-plugins/Phoenix.md
  docs/en/spark/configuration/sink-plugins/sink-plugin.md
  docs/en/spark/configuration/source-plugins/Elasticsearch.md
  docs/en/spark/configuration/source-plugins/Fake.md
  docs/en/spark/configuration/source-plugins/FakeStream.md
  docs/en/spark/configuration/source-plugins/Hive.md
  docs/en/spark/configuration/source-plugins/Jdbc.md
  docs/en/spark/configuration/source-plugins/KafkaStream.md
  docs/en/spark/configuration/source-plugins/Kudu.md
  docs/en/spark/configuration/source-plugins/MongoDB.md
  docs/en/spark/configuration/source-plugins/Phoenix.md
  docs/en/spark/configuration/source-plugins/Redis.md
  docs/en/spark/configuration/source-plugins/SocketStream.md
  docs/en/spark/configuration/source-plugins/source-plugin.md
  docs/en/spark/configuration/transform-plugins/Json.md
  docs/en/spark/configuration/transform-plugins/Split.md
  docs/en/spark/configuration/transform-plugins/Sql.md
  docs/en/spark/configuration/transform-plugins/transform-plugin.md
  docs/en/spark/deployment.md
  docs/en/spark/installation.md
  docs/en/spark/quick-start.md
Labels: document

#930 [SeaTunnel #783][UT] Add SqlStatementSplitter test case
  seatunnel-core/seatunnel-core-sql/pom.xml
  seatunnel-core/seatunnel-core-sql/src/main/java/org/apache/seatunnel/core/sql/splitter/SqlStatementSplitter.java
  seatunnel-core/seatunnel-core-sql/src/test/java/org/apache/seatunnel/core/sql/splitter/SqlStatementSplitterTest.java
Labels: improve

#1033 [SeaTunnel][CI]Add codeQL action
  .github/workflows/codeql.yaml
Labels: CI&CD

#1038 [SeaTunnel #1037] Add InfluxDB Flink Sink
  docs/en/flink/configuration/sink-plugins/InfluxDb.md
  pom.xml
  seatunnel-connectors/pom.xml
  seatunnel-connectors/seatunnel-connector-flink-influxdb/pom.xml
  seatunnel-connectors/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/sink/InfluxDbOutputFormat.java
  seatunnel-connectors/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/sink/InfluxDbSink.java
  seatunnel-connectors/seatunnel-connector-flink-influxdb/src/main/resources/META-INF/services/org.apache.seatunnel.flink.BaseFlinkSink
Labels: connectors

#927 [Feature][seatunnel-connector] Add tidb spark source
  docs/en/spark/configuration/source-plugins/Tidb.md
  pom.xml
  seatunnel-connectors/seatunnel-connector-spark-tidb/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSource
  seatunnel-connectors/seatunnel-connector-spark-tidb/src/main/scala/org/apache/seatunnel/spark/source/Tidb.scala
Labels: connectors

#1072 [SeaTunnel#1071] Enable the InnerTypeLast rule in checkstyle and fix it
  seatunnel-config/src/main/java/com/typesafe/config/impl/PathParser.java
  tools/checkstyle/checkStyle.xml
Labels: Chore

#1101 [community] Add License Guide to PR template
  .github/PULL_REQUEST_TEMPLATE.md
  docs/en/developement/NewLicenseGuide.md
Labels: Chore

#1102 [SeaTunnel#1100]Add SkyWalking LICENSE
  LICENSE
Labels: License

#1104 [SeaTunnel#1103] Fix the resource leak in File Flink Sink
  seatunnel-connectors/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/sink/FileSink.java
Labels: bug

#1107 [Improve][seatunnel-core] Remove useless parameters
  seatunnel-core/seatunnel-core-base/src/main/java/org/apache/seatunnel/Seatunnel.java
  seatunnel-core/seatunnel-core-flink/src/main/java/org/apache/seatunnel/SeatunnelFlink.java
  seatunnel-core/seatunnel-core-spark/src/main/java/org/apache/seatunnel/SeatunnelSpark.java
  seatunnel-examples/seatunnel-flink-examples/src/main/java/org/apache/seatunnel/example/flink/LocalFlinkExample.java
  seatunnel-examples/seatunnel-spark-examples/src/main/java/org/apache/seatunnel/example/spark/LocalSparkExample.java
Labels: Chore

#1114 [CI][License]Exclude license check of example
  seatunnel-examples/pom.xml
  tools/dependencies/known-dependencies.txt
Labels: License

#1124 [Improve] Remove the uesless commas
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/BaseSparkSink.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/BaseSparkSource.scala
  seatunnel-apis/seatunnel-api-spark/src/main/scala/org/apache/seatunnel/spark/BaseSparkTransform.scala
  seatunnel-connectors/seatunnel-connector-spark-mongodb/src/main/scala/org/apache/seatunnel/spark/source/MongoDB.scala
  seatunnel-connectors/seatunnel-connector-spark-neo4j/src/main/scala/org/apache/seatunnel/spark/source/Neo4j.scala
Labels: Chore

#1121 [SeaTunnel#1120] Fix the broken table in Neo4j connector doc
  docs/en/spark/configuration/source-plugins/neo4j.md
Labels: document

#1126 [SeaTunnel #1125][common] fix wrong code replace introduced in issue #1112
  seatunnel-connectors/seatunnel-connector-spark-doris/src/main/scala/org/apache/seatunnel/spark/sink/Config.scala
  seatunnel-connectors/seatunnel-connector-spark-doris/src/main/scala/org/apache/seatunnel/spark/sink/Doris.scala
Labels: bug

#1117 [SeaTunnel #1116] Optimize CheckConfigUtil and add UT
  seatunnel-common/src/main/java/org/apache/seatunnel/common/config/CheckConfigUtil.java
  seatunnel-common/src/test/java/org/apache/seatunnel/common/config/CheckConfigUtilTest.java
  seatunnel-connectors/seatunnel-connector-flink-doris/src/main/java/org/apache/seatunnel/flink/sink/DorisSink.java
  seatunnel-connectors/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/sink/DruidSink.java
  seatunnel-connectors/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/source/DruidSource.java
  seatunnel-connectors/seatunnel-connector-flink-elasticsearch/src/main/java/org/apache/seatunnel/flink/sink/Elasticsearch.java
  seatunnel-connectors/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/sink/FileSink.java
  seatunnel-connectors/seatunnel-connector-flink-file/src/main/java/org/apache/seatunnel/flink/source/FileSource.java
  seatunnel-connectors/seatunnel-connector-flink-influxdb/src/main/java/org/apache/seatunnel/flink/sink/InfluxDbSink.java
  seatunnel-connectors/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/sink/JdbcSink.java
  seatunnel-connectors/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/source/JdbcSource.java
  seatunnel-connectors/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/sink/KafkaTable.java
  seatunnel-connectors/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/source/KafkaTableStream.java
  seatunnel-connectors/seatunnel-connector-spark-doris/src/main/scala/org/apache/seatunnel/spark/sink/Doris.scala
  seatunnel-connectors/seatunnel-connector-spark-elasticsearch/src/main/scala/org/apache/seatunnel/spark/sink/Elasticsearch.scala
  seatunnel-connectors/seatunnel-connector-spark-elasticsearch/src/main/scala/org/apache/seatunnel/spark/source/Elasticsearch.scala
  seatunnel-connectors/seatunnel-connector-spark-email/src/main/scala/org/apache/seatunnel/spark/sink/Email.scala
  seatunnel-connectors/seatunnel-connector-spark-fake/src/main/scala/org/apache/seatunnel/spark/source/FakeStream.scala
  seatunnel-connectors/seatunnel-connector-spark-file/src/main/scala/org/apache/seatunnel/spark/source/File.scala
  seatunnel-connectors/seatunnel-connector-spark-hbase/src/main/scala/org/apache/seatunnel/spark/sink/Hbase.scala
  seatunnel-connectors/seatunnel-connector-spark-hive/src/main/scala/org/apache/seatunnel/spark/sink/Hive.scala
  seatunnel-connectors/seatunnel-connector-spark-hive/src/main/scala/org/apache/seatunnel/spark/source/Hive.scala
  seatunnel-connectors/seatunnel-connector-spark-hudi/src/main/scala/org/apache/seatunnel/spark/sink/Hudi.scala
  seatunnel-connectors/seatunnel-connector-spark-hudi/src/main/scala/org/apache/seatunnel/spark/source/Hudi.scala
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/seatunnel/spark/sink/Jdbc.scala
  seatunnel-connectors/seatunnel-connector-spark-jdbc/src/main/scala/org/apache/seatunnel/spark/source/Jdbc.scala
  seatunnel-connectors/seatunnel-connector-spark-kafka/src/main/scala/org/apache/seatunnel/spark/source/KafkaStream.scala
  seatunnel-connectors/seatunnel-connector-spark-kudu/src/main/scala/org/apache/seatunnel/spark/sink/Kudu.scala
  seatunnel-connectors/seatunnel-connector-spark-kudu/src/main/scala/org/apache/seatunnel/spark/source/Kudu.scala
  seatunnel-connectors/seatunnel-connector-spark-neo4j/src/main/scala/org/apache/seatunnel/spark/source/Neo4j.scala
  seatunnel-connectors/seatunnel-connector-spark-phoenix/src/main/scala/org/apache/seatunnel/spark/sink/Phoenix.scala
  seatunnel-connectors/seatunnel-connector-spark-phoenix/src/main/scala/org/apache/seatunnel/spark/source/Phoenix.scala
  seatunnel-connectors/seatunnel-connector-spark-tidb/src/main/scala/org/apache/seatunnel/spark/sink/Tidb.scala
  seatunnel-connectors/seatunnel-connector-spark-tidb/src/main/scala/org/apache/seatunnel/spark/source/Tidb.scala
  seatunnel-transforms/seatunnel-transform-flink-datastream2table/src/main/java/org/apache/seatunnel/flink/transform/DataStreamToTable.java
  seatunnel-transforms/seatunnel-transform-flink-split/src/main/java/org/apache/seatunnel/flink/transform/Split.java
  seatunnel-transforms/seatunnel-transform-flink-sql/src/main/java/org/apache/seatunnel/flink/transform/Sql.java
  seatunnel-transforms/seatunnel-transform-flink-table2datastream/src/main/java/org/apache/seatunnel/flink/transform/TableToDataStream.java
  seatunnel-transforms/seatunnel-transform-spark-split/src/main/scala/org/apache/seatunnel/spark/transform/Split.scala
  seatunnel-transforms/seatunnel-transform-spark-sql/src/main/scala/org/apache/seatunnel/spark/transform/Sql.scala
Labels: improve

#1105 [Feature][Plugin] Add seatunnel-connector-spark-sink-mongodb
  docs/en/spark/configuration/sink-plugins/MongoDB.md
  seatunnel-connectors/seatunnel-connector-spark-mongodb/src/main/resources/META-INF/services/org.apache.seatunnel.spark.BaseSparkSink
  seatunnel-connectors/seatunnel-connector-spark-mongodb/src/main/scala/org/apache/seatunnel/spark/sink/MongoDB.scala
Labels: connectors

#1134 [SeaTunnel#1132] Fix the broken url in docker deploy doc
  deploy/docker/flink/README.md
Labels: document

#1122 [Improve] Use the correct init size for Map in ES Flink Connector
  seatunnel-connectors/seatunnel-connector-flink-elasticsearch/src/main/java/org/apache/seatunnel/flink/sink/Elasticsearch.java
Labels: Chore

#1149 [Refactor] replace e.printStack with logging
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/batch/FlinkBatchExecution.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/stream/FlinkStreamExecution.java
  seatunnel-apis/seatunnel-api-flink/src/main/java/org/apache/seatunnel/flink/util/EnvironmentUtil.java
  seatunnel-connectors/seatunnel-connector-flink-druid/src/main/java/org/apache/seatunnel/flink/source/DruidSource.java
  seatunnel-connectors/seatunnel-connector-flink-elasticsearch/src/main/java/org/apache/seatunnel/flink/sink/ElasticsearchOutputFormat.java
  seatunnel-connectors/seatunnel-connector-flink-jdbc/src/main/java/org/apache/seatunnel/flink/source/JdbcSource.java
  seatunnel-connectors/seatunnel-connector-flink-kafka/src/main/java/org/apache/seatunnel/flink/source/KafkaTableStream.java
Labels: improve

#1156 [Improve] Use the correct code tag for Java doc
  seatunnel-config/src/main/java/com/typesafe/config/ConfigParseOptions.java
Labels: Chore
