Repository apache/seatunnel, pull requests merged in 2023-02, with the labels that each got.

#3997 [Feature][Connector][Elasticsearch] Support https protocol
  docs/en/connector-v2/sink/Elasticsearch.md
  docs/en/connector-v2/source/Elasticsearch.md
  release-note.md
  seatunnel-connectors-v2/connector-elasticsearch/pom.xml
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/client/EsRestClient.java
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/config/EsClusterConnectionConfig.java
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/dto/ElasticsearchClusterInfo.java
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/serialize/ElasticsearchRowSerializer.java
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/serialize/type/IndexTypeSerializerFactory.java
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/sink/ElasticsearchSinkFactory.java
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/sink/ElasticsearchSinkWriter.java
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/source/ElasticsearchSourceFactory.java
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/util/SSLUtils.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-elasticsearch-e2e/src/test/java/org/apache/seatunnel/e2e/connector/elasticsearch/ElasticsearchIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-elasticsearch-e2e/src/test/resources/elasticsearch/elasticsearch_source_and_sink.conf
Labels: improve, approved, reviewed

#4011 [Hotfix][Connector] Fix ConcurrentModificationException when snapshotState based on SourceReaderBase
  seatunnel-connectors-v2/connector-common/src/main/java/org/apache/seatunnel/connectors/seatunnel/common/source/reader/SourceReaderBase.java
Labels: approved, reviewed

#4008 [Improve][Zeta][Doc] add imap store doc
  docs/en/seatunnel-engine/deployment.md
Labels: document, approved, reviewed

#4024 [Hotfix][Doc] seatunnel run with flink operator error #3998
  docs/en/start-v2/kubernetes/kubernetes.mdx
  release-note.md
Labels: approved, reviewed

#4027 [Hotfix][Connector-V2] Fix connector source snapshot state NPE
  release-note.md
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/source/ClickhouseSourceReader.java
  seatunnel-connectors-v2/connector-kudu/src/main/java/org/apache/seatunnel/connectors/seatunnel/kudu/source/KuduSourceReader.java
Labels: bug, approved, reviewed

#3993 [Connector][Doc] Add sqlServer cdc connector doc
  docs/en/connector-v2/source/SqlServer-CDC.md
Labels: approved, reviewed

#4030 [Feature][Docs] Update usage docs
  docs/en/command/usage.mdx
  docs/en/start-v2/locally/quick-start-flink.md
  docs/en/start-v2/locally/quick-start-spark.md
Labels: approved, reviewed

#3982 [Improve][Zeta] Statistics server job and system resource usage #3980
  release-note.md
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/ClusterFaultToleranceIT.java
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/ClusterFaultToleranceTwoPipelineIT.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/CoordinatorService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/SeaTunnelServer.java
Labels: improve, SeaTunnel-Engine, approved, reviewed

#4039 [fix][docs] fix example file name
  docs/en/contribution/setup.md
Labels: document, approved, reviewed

#4035 [Bug] [Connector-V2] Clickhouse File Connector not support split mode for write data to all shards of distributed table
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/shard/Shard.java
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/sink/client/ClickhouseProxy.java
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/sink/client/ShardRouter.java
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/sink/file/ClickhouseFileSink.java
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/sink/file/ClickhouseFileSinkWriter.java
Labels: bug, First-time contributor, connectors-v2, approved, reviewed

#4045 [Bugfix][Zeta] fix Job will lost control when JobMaster init failed
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/CoordinatorService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/physical/PhysicalPlan.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/physical/SubPlan.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobMaster.java
Labels: approved, reviewed

#4037 [Hotfix][Docs] Modify the error of some documents
  docs/en/seatunnel-engine/checkpoint-storage.md
  docs/en/seatunnel-engine/deployment.md
Labels: approved, reviewed

#3989 [Bug][Connector-v2][PulsarSource]Fix pulsar option topic-pattern bug.
  seatunnel-connectors-v2/connector-pulsar/src/main/java/org/apache/seatunnel/connectors/seatunnel/pulsar/source/PulsarSource.java
Labels: Waiting for code update, approved, reviewed

#4061 [Improve][Connector-fake] Optimizing Data Generation Strategies refer to #4004
  seatunnel-connectors-v2/connector-fake/src/main/java/org/apache/seatunnel/connectors/seatunnel/fake/source/FakeDataGenerator.java
  seatunnel-connectors-v2/connector-fake/src/main/java/org/apache/seatunnel/connectors/seatunnel/fake/source/FakeSourceReader.java
  seatunnel-connectors-v2/connector-fake/src/test/java/org/apache/seatunnel/connectors/seatunnel/fake/source/FakeDataGeneratorTest.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-elasticsearch-e2e/src/test/java/org/apache/seatunnel/e2e/connector/elasticsearch/ElasticsearchIT.java
Labels: approved, reviewed

#4065 [Improve][CI] Split integration test to 5
  .github/workflows/backend.yml
Labels: approved, reviewed

#4059 [Improve][Zeta-IMAP]Set the write data timeout to be configurable
  seatunnel-engine/seatunnel-engine-storage/imap-storage-api/src/main/java/org/apache/seatunnel/engine/imap/storage/api/IMapStorage.java
  seatunnel-engine/seatunnel-engine-storage/imap-storage-plugins/imap-storage-file/src/main/java/org/apache/seatunnel/engine/imap/storage/file/IMapFileStorage.java
  seatunnel-engine/seatunnel-engine-storage/imap-storage-plugins/imap-storage-file/src/main/java/org/apache/seatunnel/engine/imap/storage/file/common/FileConstants.java
  seatunnel-engine/seatunnel-engine-storage/imap-storage-plugins/imap-storage-file/src/main/java/org/apache/seatunnel/engine/imap/storage/file/disruptor/WALWorkHandler.java
  seatunnel-engine/seatunnel-engine-storage/imap-storage-plugins/imap-storage-file/src/test/java/org/apache/seatunnel/engine/imap/storage/file/IMapFileStorageTest.java
Labels: approved, reviewed

#3950 [Feature][formats][canal] Support read canal format message
  docs/en/connector-v2/formats/canal-json.md
  release-note.md
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/SeaTunnelRow.java
  seatunnel-connectors-v2/connector-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/config/Config.java
  seatunnel-connectors-v2/connector-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/serialize/DefaultSeaTunnelRowSerializer.java
  seatunnel-connectors-v2/connector-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/source/KafkaSource.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/java/org/apache/seatunnel/e2e/connector/kafka/CannalToKafakIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/canal/canal.properties
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/canal/instance.properties
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/ddl/canal.sql
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/docker/server-gtids/my.cnf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/docker/setup.sql
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/kafkasource_canal_cdc_to_pgsql.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/kafkasource_canal_to_kafka.conf
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/JsonDeserializationSchema.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/JsonFormatOptions.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/canal/CanalJsonDeserializationSchema.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/canal/CanalJsonFormatFactory.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/canal/CanalJsonFormatOptions.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/canal/CanalJsonSerializationSchema.java
  seatunnel-formats/seatunnel-format-json/src/main/resources/META-INF/services/org.apache.seatunnel.api.table.factory.Factory
  seatunnel-formats/seatunnel-format-json/src/test/java/org/apache/seatunnel/format/json/canal/CanalJsonSerDeSchemaTest.java
  seatunnel-formats/seatunnel-format-json/src/test/resources/canal-data-filter-table.txt
Labels: approved, reviewed

#4068 [Improve][E2E] Improve CI stability
  .github/workflows/backend.yml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-elasticsearch-e2e/src/test/java/org/apache/seatunnel/e2e/connector/elasticsearch/ElasticsearchIT.java
  tools/update_modules_check/update_modules_check.py
Labels: approved, reviewed

#4056 [improve][api] Use ReadonlyConfig to avoid option being changed
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/factory/CatalogFactory.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/factory/FactoryUtil.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/factory/TableFactoryContext.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/JsonFormatFactory.java
Labels: approved, reviewed

#4070 [Hotfix][Format][Canal] Fix CanalJsonFormatFactory initialize
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/canal/CanalJsonFormatFactory.java
Labels: approved, reviewed

#4041 [Improve][Zeta][metrics] add jobId in job progress Information
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/job/JobMetricsRunner.java
Labels: improve, SeaTunnel-Engine, approved, reviewed

#4078 [Fix] [ResourceManager] Fix ResourceManager Assign Task Not Random
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/resourcemanager/ResourceRequestHandler.java
Labels: improve, SeaTunnel-Engine, approved, reviewed

#4048 [HotFix][Zeta] Fix NullPointerException when registering Reader with the enumerator
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/Constant.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/TaskExecutionService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/operation/NotifyTaskStartOperation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/operation/TaskReportStatusOperation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/AbstractTask.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/SeaTunnelTask.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/SinkAggregatedCommitterTask.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/SourceSplitEnumeratorTask.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/operation/checkpoint/CloseRequestOperation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/operation/source/AssignSplitOperation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/operation/source/RequestSplitOperation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/operation/source/RestoredSplitOperation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/operation/source/SourceNoMoreElementOperation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/operation/source/SourceReaderEventOperation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/operation/source/SourceRegisterOperation.java
Labels: approved, reviewed

#4016 [Feature][API & Core] Support Other Config Type Adapter Extends SPI. …
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/ConfigAdapter.java
  seatunnel-core/seatunnel-core-starter/src/main/java/org/apache/seatunnel/core/starter/utils/ConfigAdapterUtils.java
  seatunnel-core/seatunnel-core-starter/src/main/java/org/apache/seatunnel/core/starter/utils/ConfigBuilder.java
  seatunnel-core/seatunnel-core-starter/src/main/java/org/apache/seatunnel/core/starter/utils/FileUtils.java
Labels: approved, reviewed

#4085 [Improve][Example] Add seatunnel-transforms-v2 maven dependency
  seatunnel-examples/seatunnel-engine-examples/pom.xml
  seatunnel-examples/seatunnel-flink-connector-v2-example/pom.xml
  seatunnel-examples/seatunnel-spark-connector-v2-example/pom.xml
Labels: approved, reviewed

#4083 [Improve][Code_Format] Remove 'import *' and remove useless comment.
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/protocol/codec/SeaTunnelSavePointJobCodec.java
Labels: approved, reviewed

#4049 [Feature][Connector-V2][Hbase] Introduce hbase sink connector
  config/plugin_config
  docs/en/connector-v2/sink/Hbase.md
  plugin-mapping.properties
  release-note.md
  seatunnel-common/src/main/java/org/apache/seatunnel/common/config/TypesafeConfigUtils.java
  seatunnel-connectors-v2/connector-hbase/pom.xml
  seatunnel-connectors-v2/connector-hbase/src/main/java/org/apache/seatunnel/connectors/seatunnel/hbase/config/HbaseConfig.java
  seatunnel-connectors-v2/connector-hbase/src/main/java/org/apache/seatunnel/connectors/seatunnel/hbase/config/HbaseParameters.java
  seatunnel-connectors-v2/connector-hbase/src/main/java/org/apache/seatunnel/connectors/seatunnel/hbase/exception/HbaseConnectorException.java
  seatunnel-connectors-v2/connector-hbase/src/main/java/org/apache/seatunnel/connectors/seatunnel/hbase/sink/HbaseSink.java
  seatunnel-connectors-v2/connector-hbase/src/main/java/org/apache/seatunnel/connectors/seatunnel/hbase/sink/HbaseSinkFactory.java
  seatunnel-connectors-v2/connector-hbase/src/main/java/org/apache/seatunnel/connectors/seatunnel/hbase/sink/HbaseSinkWriter.java
  seatunnel-connectors-v2/connector-hbase/src/test/java/org/apache/seatunnel/connectors/seatunnel/hbase/HbaseFactoryTest.java
  seatunnel-connectors-v2/pom.xml
  seatunnel-dist/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-hbase-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-hbase-e2e/src/test/java/org/apache/seatunnel/e2e/connector/hbase/HbaseIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-hbase-e2e/src/test/resources/fake-to-hbase.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/pom.xml
Labels: approved, reviewed

#4086 [HotFix][Zeta] Fix clean TaskGroupContext Error when target node is offline
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobMaster.java
Labels: approved, reviewed

#4087 [Improve][Zeta] job clean before JobMaster future complete
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/CoordinatorService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobMaster.java
Labels: approved, reviewed

#4047 [Bugfix] [Zeta] Fix Slot Status Not Sync After Restart When All Node Down
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/ClusterFaultToleranceIT.java
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/ClusterFaultToleranceTwoPipelineIT.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/CoordinatorService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/TaskExecutionService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/physical/PhysicalPlan.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/physical/SubPlan.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobMaster.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/resourcemanager/AbstractResourceManager.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/resourcemanager/opeartion/SyncWorkerProfileOperation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/serializable/ResourceDataSerializerHook.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/service/slot/DefaultSlotService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/service/slot/SlotService.java
Labels: bug, improve, SeaTunnel-Engine, approved, reviewed

#4091 [Hotfix][Zeta] Fix parse job mode bug and improve doc
  docs/en/concept/config.md
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/parse/JobConfigParser.java
Labels: approved, reviewed

#4096 [Hotfix][Zeta] Fix error doc
  config/seatunnel.yaml
  docs/en/seatunnel-engine/deployment.md
Labels: approved, reviewed

#4099 [Improve] [Zeta] Fix Client Have Error Can't be Shutdown
  seatunnel-core/seatunnel-starter/src/main/java/org/apache/seatunnel/core/starter/seatunnel/command/ClientExecuteCommand.java
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/SeaTunnelHazelcastClient.java
Labels: improve, SeaTunnel-Engine, approved, reviewed

#4097 [Improve] [Zeta] Add Slot Sequence To Avoid Active Check Error
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/resourcemanager/AbstractResourceManager.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/resourcemanager/resource/SlotProfile.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/service/slot/DefaultSlotService.java
Labels: improve, SeaTunnel-Engine, approved, reviewed

#4080 [Improve][Transforms-V2] Remove dependencies that are duplicated under the root pom.
  seatunnel-transforms-v2/pom.xml
Labels: approved, reviewed

#3771 [Feature][Zeta] Add a jvm.properties file to define the SeaTunnel Zeta JVM Options
  config/jvm_options
  docs/en/connector-v2/Error-Quick-Reference-Manual.md
  release-note.md
  seatunnel-common/src/main/java/org/apache/seatunnel/common/exception/CommonErrorCode.java
  seatunnel-core/seatunnel-starter/src/main/bin/seatunnel-cluster.sh
  seatunnel-core/seatunnel-starter/src/main/bin/seatunnel.sh
  seatunnel-core/seatunnel-starter/src/main/java/org/apache/seatunnel/core/starter/seatunnel/jvm/JavaVersion.java
  seatunnel-core/seatunnel-starter/src/main/java/org/apache/seatunnel/core/starter/seatunnel/jvm/JvmOptionsParser.java
  seatunnel-core/seatunnel-starter/src/main/java/org/apache/seatunnel/core/starter/seatunnel/jvm/JvmOptionsParserException.java
  seatunnel-core/seatunnel-starter/src/main/java/org/apache/seatunnel/core/starter/seatunnel/jvm/TempDirectory.java
  seatunnel-core/seatunnel-starter/src/test/java/org/apache/seatunnel/core/starter/seatunnel/jvm/JvmOptionsParserTests.java
  seatunnel-engine/seatunnel-engine-common/src/main/resources/jvm_options
Labels: feature, SeaTunnel-Engine, approved, reviewed

#3939 [Improve][Code-Style] Add the spotless plugin for unified code style.
  .github/workflows/backend.yml
  .github/workflows/codeql.yaml
  .github/workflows/docker.yml
  .github/workflows/license.yml
  .github/workflows/publish-docker.yaml
  .github/workflows/schedule_backend.yml
  docs/en/contribution/coding-guide.md
  docs/en/contribution/setup.md
  pom.xml
  seatunnel-config/seatunnel-config-base/pom.xml
  tools/checkstyle/checkStyle.xml
  tools/checkstyle/suppressions.xml
  tools/spotless_check/pre-commit.sh
Labels: approved

#4109 [e2e] fix split path failed in win10
  seatunnel-e2e/seatunnel-e2e-common/src/test/java/org/apache/seatunnel/e2e/common/util/ContainerUtil.java
Labels: approved, reviewed

#4107 [Improve] [Zeta] [Client] Fix Client Not Throw Exception When Error Msg Is Null
  seatunnel-core/seatunnel-starter/src/main/java/org/apache/seatunnel/core/starter/seatunnel/command/ClientExecuteCommand.java
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/job/ClientJobProxy.java
Labels: improve, SeaTunnel-Engine, approved, reviewed

#4116 [Feature][CDC] Support batch processing on multiple-table shuffle flow
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mysql/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mysql/source/MySqlIncrementalSource.java
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/dag/actions/ShuffleAction.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/execution/ExecutionPlanGenerator.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/execution/PipelineGenerator.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/physical/PhysicalPlanGenerator.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/serializable/RecordSerializer.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/serializable/RecordSerializerHook.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/serializable/TypeId.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/SeaTunnelTask.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/flow/PartitionTransformSinkFlowLifeCycle.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/flow/PartitionTransformSourceFlowLifeCycle.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/flow/ShuffleSinkFlowLifeCycle.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/flow/ShuffleSourceFlowLifeCycle.java
Labels: approved, reviewed

#4076 [Bug][Connector-V2][ES]Fix es source no data
  seatunnel-connectors-v2/connector-elasticsearch/pom.xml
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/client/EsRestClient.java
  seatunnel-connectors-v2/connector-elasticsearch/src/main/java/org/apache/seatunnel/connectors/seatunnel/elasticsearch/serialize/source/DefaultSeaTunnelRowDeserializer.java
Labels: bug, First-time contributor, connectors-v2, approved, reviewed

#4072 [Feature] [REST-API]add rest api for runningjob detail
  seatunnel-api/src/main/java/org/apache/seatunnel/api/common/metrics/JobMetrics.java
  seatunnel-engine/seatunnel-engine-common/src/main/resources/hazelcast.yaml
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/dag/logical/LogicalDag.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/NodeExtension.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/RestHttpGetCommandProcessor.java
Labels: approved, reviewed

#4141 [Hotfix][Connector-V2][Hive] Fix hive unknownhost
  docs/en/connector-v2/sink/Hive.md
  docs/en/connector-v2/source/Hive.md
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/sink/HiveSink.java
Labels: approved, reviewed

#4139 [Feature][Zeta] add get cluster metrics to seatunnel zeta client
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/ClusterIT.java
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/SeaTunnelClient.java
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/job/JobClient.java
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/protocol/codec/SeaTunnelGetClusterHealthMetricsCodec.java
  seatunnel-engine/seatunnel-engine-core/src/main/resources/client-protocol-definition/SeaTunnelEngine.yaml
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/SeaTunnelHealthMonitor.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/SeaTunnelServer.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/operation/GetClusterHealthMetricsOperation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/protocol/task/GetClusterHealthMetricsTask.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/protocol/task/SeaTunnelMessageTaskFactoryProvider.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/serializable/ClientToServerOperationDataSerializerHook.java
Labels: approved, reviewed

#4152 [Hotfix][Zeta][Config] Revert 4043
  config/hazelcast-client.yaml
  config/hazelcast.yaml
  docs/en/seatunnel-engine/deployment.md
  docs/en/seatunnel-engine/tcp.md
  docs/sidebars.js
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/resources/hazelcast-client.yaml
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/resources/hazelcast.yaml
  seatunnel-engine/seatunnel-engine-common/src/main/resources/hazelcast.yaml
  seatunnel-engine/seatunnel-engine-common/src/test/resources/custmoize-client.yaml
  seatunnel-engine/seatunnel-engine-common/src/test/resources/hazelcast.yaml
Labels: approved, reviewed

#3679 [Feature][Connector-V2] StarRocks source connector
  docs/en/connector-v2/Error-Quick-Reference-Manual.md
  docs/en/connector-v2/source/StarRocks.md
  plugin-mapping.properties
  seatunnel-connectors-v2/connector-starrocks/pom.xml
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/HttpHelper.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/source/StarRocksBeReadClient.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/source/StarRocksQueryPlanReadClient.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/source/StarRocksRowBatchReader.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/source/model/Column.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/source/model/QueryBeXTablets.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/source/model/QueryInfo.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/source/model/QueryPartition.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/source/model/QueryPlan.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/source/model/Tablet.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/config/CommonConfig.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/config/SourceConfig.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/exception/StarRocksConnectorErrorCode.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/source/StarRocksSource.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/source/StarRocksSourceFactory.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/source/StarRocksSourceReader.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/source/StarRocksSourceSplit.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/source/StarRocksSourceState.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/source/StartRocksSourceSplitEnumerator.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-starrocks-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-starrocks-e2e/src/test/java/org/apache/seatunnel/e2e/connector/starrocks/StarRocksIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-starrocks-e2e/src/test/resources/starrocks-thrift-to-starrocks-streamload.conf
Labels: feature, connectors-v2

#4181 [Improve][connector-v2][SeaTunnelSchema]complete data type prompt.
  seatunnel-connectors-v2/connector-common/src/main/java/org/apache/seatunnel/connectors/seatunnel/common/schema/SeaTunnelSchema.java
Labels: approved, reviewed

#4180 Official Quick Start flink document case error #4179
  docs/en/start-v2/locally/quick-start-flink.md
  docs/en/start-v2/locally/quick-start-seatunnel-engine.md
Labels: approved, reviewed

#3959 [Improve][SourceConnector] Unifie Iceberg source fields to schema
  docs/en/connector-v2/source/Iceberg.md
  seatunnel-connectors-v2/connector-iceberg/src/main/java/org/apache/seatunnel/connectors/seatunnel/iceberg/source/IcebergSource.java
  seatunnel-connectors-v2/connector-iceberg/src/main/java/org/apache/seatunnel/connectors/seatunnel/iceberg/source/IcebergSourceFactory.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-iceberg-e2e/src/test/resources/iceberg/iceberg_source.conf
Labels: discuss, First-time contributor, approved, reviewed

#4189 [Feature][Zeta] Close task when job cancel
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/TaskExecutionService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/SeaTunnelTask.java
Labels: approved, reviewed

#4151 [Improve][Pom] Fix `seatunnel-core-starter` & `seatunnel-starter` maven module name conflict
  seatunnel-core/seatunnel-core-starter/pom.xml
Labels: approved, reviewed

#4183 [Improve][Zeta] Improve stability of zeta local mode
  seatunnel-core/seatunnel-starter/src/main/bin/seatunnel.sh
  seatunnel-core/seatunnel-starter/src/main/java/org/apache/seatunnel/core/starter/seatunnel/args/ClientCommandArgs.java
Labels: approved, reviewed

#4182 [Improve][Connector-v2][PulsarSource]Set the name of the pulsar consumption thread.
  seatunnel-connectors-v2/connector-pulsar/src/main/java/org/apache/seatunnel/connectors/seatunnel/pulsar/source/reader/PulsarSourceReader.java
Labels: approved, reviewed
