Repository apache/seatunnel, pull requests merged in 2023-08, with the labels that each got.

#5118 [Bug][Improve][LocalFileSink]Fix LocalFile Sink file_format_type.
  docs/en/connector-v2/sink/FtpFile.md
  docs/en/connector-v2/sink/HdfsFile.md
  docs/en/connector-v2/sink/LocalFile.md
  docs/en/connector-v2/sink/OssFile.md
  docs/en/connector-v2/sink/OssJindoFile.md
  docs/en/connector-v2/sink/S3-Redshift.md
  docs/en/connector-v2/sink/S3File.md
  docs/en/connector-v2/sink/SftpFile.md
  docs/en/connector-v2/source/FtpFile.md
  docs/en/connector-v2/source/HdfsFile.md
  docs/en/connector-v2/source/LocalFile.md
  docs/en/connector-v2/source/OssFile.md
  docs/en/connector-v2/source/OssJindoFile.md
  docs/en/connector-v2/source/S3File.md
  docs/en/connector-v2/source/SftpFile.md
  seatunnel-api/src/test/resources/conf/option-test.conf
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/resources/cluster_batch_fake_to_localfile_two_pipeline_template.conf
  seatunnel-engine/seatunnel-engine-client/src/test/resources/batch_fakesource_to_file.conf
  seatunnel-engine/seatunnel-engine-client/src/test/resources/batch_fakesource_to_file_complex.conf
  seatunnel-engine/seatunnel-engine-client/src/test/resources/client_test.conf
  seatunnel-engine/seatunnel-engine-server/src/test/resources/batch_fakesource_to_file.conf
  seatunnel-engine/seatunnel-engine-server/src/test/resources/batch_fakesource_to_file_complex.conf
  seatunnel-engine/seatunnel-engine-server/src/test/resources/stream_fakesource_to_file.conf
  seatunnel-engine/seatunnel-engine-server/src/test/resources/stream_fakesource_to_file_savepoint.conf
Labels: document, connectors-v2, approved, reviewed

#5200 [e2e][bugfix] kafka e2e error
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/java/org/apache/seatunnel/e2e/connector/kafka/DebeziumToKafkaIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/kafkasource_debezium_cdc_to_pgsql.conf
Labels: approved, reviewed

#5215 [Hotfix][Connector-V2][JindoOssFile] Fix plugin-mapping.properties
  plugin-mapping.properties
Labels: approved, reviewed

#5192 [Improve][Zeta] Don't trigger handleSaveMode when restore
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/job/JobExecutionEnvironment.java
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/parse/JobConfigParser.java
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/parse/MultipleTableJobConfigParser.java
Labels: approved, reviewed

#5218 [Feature][IMap storage] Move imap-storage-file dependency packages to submodules
  pom.xml
  seatunnel-dist/src/main/assembly/assembly-bin-ci.xml
  seatunnel-engine/seatunnel-engine-storage/imap-storage-plugins/imap-storage-file/pom.xml
  tools/dependencies/known-dependencies.txt
Labels: approved, reviewed

#5221 [Improve][e2e]Run e2e test case on windows with Docker Desktop failed
  .gitattributes
Labels: approved, reviewed

#5219 [Hotfix][Connector-V2][Paimon] Bump paimon-bundle version to 0.4.0-incubating
  seatunnel-connectors-v2/connector-paimon/pom.xml
Labels: approved, reviewed

#4757 [Docs][Connector-V2][PostgreSQL] Refactor connector-v2 docs using unified format PostgreSQL #4590
  docs/en/connector-v2/sink/PostgreSql.md
  docs/en/connector-v2/source/PostgreSQL.md
Labels: approved, reviewed

#4793 [Docs] Fix Dockerfile and seatunnel-flink.yaml in Set Up with Kubernetes
  docs/en/start-v2/kubernetes/kubernetes.mdx
  release-note.md
Labels: First-time contributor, approved, reviewed

#5061 [feature][doris] Doris factory type
  seatunnel-connectors-v2/connector-doris/src/main/java/org/apache/seatunnel/connectors/doris/config/DorisSinkFactory.java
  seatunnel-connectors-v2/connector-doris/src/main/java/org/apache/seatunnel/connectors/doris/datatype/DorisDataTypeConvertor.java
Labels: approved, reviewed

#4968 [Improve] Update the Readme
  README.md
Labels: document, approved, reviewed

#5237 [Bug] [Zeta] imap-storage-file module e2e error
  seatunnel-engine/seatunnel-engine-storage/imap-storage-plugins/imap-storage-file/pom.xml
Labels: approved, reviewed

#5107 [Feature][Zeta][REST-API]Add REST API To Submit Job
  docs/en/seatunnel-engine/rest-api.md
  seatunnel-core/seatunnel-core-starter/src/main/java/org/apache/seatunnel/core/starter/utils/ConfigBuilder.java
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/RestApiIT.java
  seatunnel-engine/seatunnel-engine-client/src/main/java/org/apache/seatunnel/engine/client/job/JobExecutionEnvironment.java
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/job/AbstractJobEnvironment.java
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/parse/MultipleTableJobConfigParser.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/NodeExtension.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/job/JobImmutableInformationEnv.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/RestConstant.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/RestHttpPostCommandProcessor.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/utils/RestUtil.java
Labels: First-time contributor, Zeta, approved, reviewed, Zeta Rest API

#4967 [Fix] Update the project description
  .asf.yaml
Labels: document, approved, reviewed

#5114 [Feature][Zeta] Support history service record job execute error
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/pom.xml
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/JobExecutionIT.java
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/resources/batch_fakesource_to_console_error.conf
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/CoordinatorService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/physical/PipelineLocation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/execution/TaskGroupLocation.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobHistoryService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobMaster.java
Labels: approved, reviewed

#5242 [hotfix]Update .asf.yaml
  .asf.yaml
Labels: approved, reviewed

#5194 [BUG][Connector-V2][Jdbc] support postgresql json type
  docs/en/connector-v2/sink/PostgreSql.md
  docs/en/connector-v2/source/PostgreSQL.md
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/catalog/psql/PostgresDataTypeConvertor.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/psql/PostgresTypeMapper.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-3/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/JdbcPostgresIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-3/src/test/resources/jdbc_postgres_source_and_sink.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-3/src/test/resources/jdbc_postgres_source_and_sink_parallel.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-3/src/test/resources/jdbc_postgres_source_and_sink_parallel_upper_lower.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-3/src/test/resources/jdbc_postgres_source_and_sink_xa.conf
Labels: approved, reviewed

#5209 [bug][jdbc][oracle]Fix the Oracle number type mapping problem
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/oracle/OracleTypeMapper.java
Labels: approved, reviewed

#5229 [Bugfix][zeta] Avoid Redundant Job Submissions by Checking Job Status
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/CoordinatorService.java
Labels: approved, reviewed

#5214 [Bugfix][zeta] Fixed the issue of duplicated metrics caused by job fault tolerance or restore.
  seatunnel-api/src/main/java/org/apache/seatunnel/api/common/metrics/JobMetrics.java
Labels: approved, reviewed

#5179 [Imporve] [CDC Base] Add a fast sampling method that supports character types
  seatunnel-connectors-v2/connector-cdc/connector-cdc-base/src/main/java/org/apache/seatunnel/connectors/cdc/base/source/enumerator/splitter/AbstractJdbcSourceChunkSplitter.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mysql/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mysql/source/MySqlIncrementalSourceFactory.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mysql/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mysql/source/eumerator/MySqlChunkSplitter.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mysql/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mysql/utils/MySqlUtils.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-sqlserver/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/sqlserver/source/source/eumerator/SqlServerChunkSplitter.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-sqlserver/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/sqlserver/source/utils/SqlServerUtils.java
Labels: approved, reviewed

#4305 [Doc][README] Remove useless github workflow, and adjust description of 'engineering structure'.
  tools/update_modules_check/update_modules_check.py
Labels: Waiting for code update, approved, reviewed

#5180 [Feature][Zeta]The expiration time of a historical Job can be config
  config/seatunnel.yaml
  docs/en/seatunnel-engine/deployment.md
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/JobExecutionIT.java
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/resources/seatunnel.yaml
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/EngineConfig.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/YamlSeaTunnelDomConfigProcessor.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/server/ServerConfigOptions.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/CoordinatorService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobHistoryService.java
Labels: approved, reviewed

#5274 [bugfix] [e2e] Fixed a minor bug
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/JobExecutionIT.java
Labels: approved, reviewed

#5273 [Improve][SQL] Support use catalogTableName as SQL expression
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/JobExecutionIT.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/SQLEngine.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/SQLTransform.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/zeta/ZetaSQLEngine.java
  seatunnel-transforms-v2/src/test/java/org/apache/seatunnel/transform/sql/zeta/ZetaSQLEngineTest.java
Labels: approved, reviewed

#5101 [Doc] Improve S3File Source & S3File Sink document
  docs/en/connector-v2/sink/S3File.md
  docs/en/connector-v2/source/S3File.md
Labels: document, approved, reviewed

#5280 [Hotfix][Code Style] Fix style error
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/JobExecutionIT.java
Labels: approved, reviewed

#5129 [Docs][Connector-V2][MyHours]Reconstruct the MyHours connector document
  docs/en/connector-v2/source/MyHours.md
Labels: document, improve, approved, reviewed

#5263 [Bugfix][zeta] Resolved the issue causing checkpoints to halt on tolerable-failure=0.
  config/seatunnel.yaml
  docs/en/seatunnel-engine/checkpoint-storage.md
  docs/en/seatunnel-engine/deployment.md
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/resources/seatunnel.yaml
  seatunnel-engine/seatunnel-engine-client/src/test/resources/seatunnel.yaml
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/YamlSeaTunnelDomConfigProcessor.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/server/CheckpointConfig.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/server/ServerConfigOptions.java
  seatunnel-engine/seatunnel-engine-common/src/main/resources/seatunnel.yaml
  seatunnel-engine/seatunnel-engine-common/src/test/java/org/apache/seatunnel/engine/common/config/YamlSeaTunnelConfigParserTest.java
  seatunnel-engine/seatunnel-engine-common/src/test/resources/seatunnel.yaml
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointCoordinator.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobMaster.java
  seatunnel-engine/seatunnel-engine-server/src/test/resources/seatunnel.yaml
Labels: approved, reviewed

#4975 [Feature][Connector-v2][RedisSink]Support redis to set expiration time.
  docs/en/connector-v2/sink/Redis.md
  seatunnel-connectors-v2/connector-redis/src/main/java/org/apache/seatunnel/connectors/seatunnel/redis/config/RedisConfig.java
  seatunnel-connectors-v2/connector-redis/src/main/java/org/apache/seatunnel/connectors/seatunnel/redis/config/RedisDataType.java
  seatunnel-connectors-v2/connector-redis/src/main/java/org/apache/seatunnel/connectors/seatunnel/redis/config/RedisParameters.java
  seatunnel-connectors-v2/connector-redis/src/main/java/org/apache/seatunnel/connectors/seatunnel/redis/sink/RedisSinkFactory.java
  seatunnel-connectors-v2/connector-redis/src/main/java/org/apache/seatunnel/connectors/seatunnel/redis/sink/RedisSinkWriter.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-redis-e2e/src/test/java/org/apache/seatunnel/e2e/connector/redis/RedisIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-redis-e2e/src/test/resources/redis-to-redis-expire.conf
Labels: improve, approved, reviewed

#5282 [bugfix] Fix testGetErrorInfo case error
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/JobExecutionIT.java
Labels: approved, reviewed

#4942 [Feature][Zeta] Checkpoint support hdfs ha mode
  docs/en/seatunnel-engine/checkpoint-storage.md
  seatunnel-engine/seatunnel-engine-storage/checkpoint-storage-plugins/checkpoint-storage-hdfs/src/main/java/org/apache/seatunnel/engine/checkpoint/storage/hdfs/common/HdfsConfiguration.java
  seatunnel-engine/seatunnel-engine-storage/checkpoint-storage-plugins/checkpoint-storage-hdfs/src/test/java/org/apache/seatunnel/engine/checkpoint/storage/hdfs/HDFSFileCheckpointTest.java
Labels: First-time contributor, feature, Zeta

#5267 [Bug] [seatunnel-engine-server] long jobid will substring change string type
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/RestHttpGetCommandProcessor.java
Labels: approved, reviewed

#5257 [Docs] remove `incubating` keyword in document
  DISCLAIMER
  docs/en/start-v2/locally/deployment.md
  docs/en/start-v2/locally/quick-start-flink.md
  docs/en/start-v2/locally/quick-start-seatunnel-engine.md
  docs/en/start-v2/locally/quick-start-spark.md
Labels: approved, reviewed

#5154 [feature][web] hive add option because web need
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/source/HiveSourceFactory.java
Labels: approved, reviewed

#4826 [Bug][flink-runtime][connectors-v2] Flink register table Environment The running mode is set to`job.mode`
  seatunnel-core/seatunnel-flink-starter/seatunnel-flink-starter-common/src/main/java/org/apache/seatunnel/core/starter/flink/execution/FlinkExecution.java
  seatunnel-core/seatunnel-flink-starter/seatunnel-flink-starter-common/src/main/java/org/apache/seatunnel/core/starter/flink/execution/SourceExecuteProcessor.java
Labels: bug, Flink, approved, reviewed

#5132 [Docs][Connector-V2][StarRocks]Reconstruct the StarRocks connector document
  docs/en/connector-v2/sink/StarRocks.md
Labels: document, improve, approved, reviewed

#4940 [Improve][Connector-v2][HiveSink]remove drop partition when abort.
  docs/en/connector-v2/source/Hive.md
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/commit/HiveSinkAggregatedCommitter.java
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/config/HiveConfig.java
  seatunnel-connectors-v2/connector-hive/src/main/java/org/apache/seatunnel/connectors/seatunnel/hive/sink/HiveSinkFactory.java
Labels: bug, connectors-v2

#4871 [Docs][Connector-V2][HDFS]Refactor connector-v2 docs using unified format HDFS.
  docs/en/connector-v2/sink/HdfsFile.md
  docs/en/connector-v2/source/HdfsFile.md
Labels: document, approved, reviewed

#5184 [BUG][Connector-V2][Mongo-cdc] Incremental data kind error in snapshot phase
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mongodb/sender/MongoDBConnectorDeserializationSchema.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mongodb/source/fetch/MongodbFetchTaskContext.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mongodb/utils/MongodbRecordUtils.java
Labels: approved, reviewed

#5284 [Hotfix] Fix com.google.common.base.Preconditions to seatunnel shade one
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/Options.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/table/type/SeaTunnelRowType.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-base/src/main/java/org/apache/seatunnel/connectors/cdc/base/source/enumerator/splitter/ChunkRange.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mysql/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mysql/config/ServerIdRange.java
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/sink/client/executor/FieldNamedPreparedStatement.java
  seatunnel-connectors-v2/connector-common/src/main/java/org/apache/seatunnel/connectors/seatunnel/common/source/AbstractSingleSplitSource.java
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/config/FileSinkConfig.java
  seatunnel-connectors-v2/connector-iceberg/src/main/java/org/apache/seatunnel/connectors/seatunnel/iceberg/IcebergTableLoader.java
  seatunnel-connectors-v2/connector-iceberg/src/main/java/org/apache/seatunnel/connectors/seatunnel/iceberg/config/CommonConfig.java
  seatunnel-connectors-v2/connector-iceberg/src/main/java/org/apache/seatunnel/connectors/seatunnel/iceberg/source/IcebergSource.java
  seatunnel-connectors-v2/connector-iceberg/src/main/java/org/apache/seatunnel/connectors/seatunnel/iceberg/source/enumerator/scan/IcebergScanSplitPlanner.java
  seatunnel-connectors-v2/connector-iotdb/src/main/java/org/apache/seatunnel/connectors/seatunnel/iotdb/config/SinkConfig.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/catalog/AbstractJdbcCatalog.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/catalog/mysql/MysqlCreateTableSqlBuilder.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/catalog/sqlserver/SqlServerCreateTableSqlBuilder.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/executor/FieldNamedPreparedStatement.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/split/JdbcNumericBetweenParametersProvider.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/xa/SemanticXidGenerator.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/xa/XidImpl.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/sink/JdbcExactlyOnceSinkWriter.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/source/config/MongodbReadOptions.java
  seatunnel-connectors-v2/connector-pulsar/src/main/java/org/apache/seatunnel/connectors/seatunnel/pulsar/source/enumerator/cursor/start/MessageIdStartCursor.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/catalog/StarRocksCatalog.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/source/StarRocksRowBatchReader.java
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/ClusterFaultToleranceIT.java
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/ClusterFaultToleranceTwoPipelineIT.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/server/CheckpointConfig.java
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/dag/actions/ShufflePartitionStrategy.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/TaskStatistics.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/execution/ExecutionPlanGenerator.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/execution/PipelineGenerator.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/resourcemanager/resource/ResourceProfile.java
Labels: approved, reviewed

#5322 [Improve][Bin] If the log path does not exist, the script automatically creates it.
  seatunnel-core/seatunnel-starter/src/main/bin/seatunnel-cluster.sh
Labels: approved, reviewed

#5339 [Improve][CI][E2E] Increase checkpoint timeout of zeta
  release-note.md
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/resources/seatunnel.yaml
Labels: approved, reviewed

#5362 [bugfix][zeta] fix NotifyTaskRestoreOperation npe
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/SourceSplitEnumeratorTask.java
Labels: approved, reviewed

#5335 [Doc][Iceberg] Improved iceberg documentation
  docs/en/connector-v2/source/Iceberg.md
  seatunnel-connectors-v2/connector-iceberg/src/main/java/org/apache/seatunnel/connectors/seatunnel/iceberg/config/CommonConfig.java
Labels: approved, reviewed

#5323 [Hotfix][E2E] Update Test Container Version of SeaTunnel engine
  release-note.md
  seatunnel-e2e/seatunnel-e2e-common/src/test/java/org/apache/seatunnel/e2e/common/container/TestContainerId.java
Labels: approved, reviewed

#5298 [Improve] [seatunnel-examples] modify the transform URL link
  seatunnel-examples/seatunnel-flink-connector-v2-example/src/main/resources/examples/fake_to_console.conf
  seatunnel-examples/seatunnel-spark-connector-v2-example/src/main/resources/examples/spark.batch.conf
Labels: approved, reviewed

#5326 [Hotfix][Clickhouse] Fix clickhouse old version compatibility
  release-note.md
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/sink/client/ClickhouseSinkWriter.java
Labels: approved, reviewed

#5368 [improve][doc][Connector-V2][http] improve http doc param body des
  docs/en/connector-v2/source/Http.md
Labels: approved, reviewed

#5344 [Docs][Connector-V2][Slack]Refactor connector-v2 docs using unified format Slack
  docs/en/connector-v2/sink/Slack.md
Labels: document, connectors-v2, approved, reviewed

#5248 [Improve]Remove scheduler in Dynamodb sink
  docs/en/connector-v2/sink/AmazonDynamoDB.md
  seatunnel-connectors-v2/connector-amazondynamodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/amazondynamodb/config/AmazonDynamoDBSourceOptions.java
  seatunnel-connectors-v2/connector-amazondynamodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/amazondynamodb/sink/AmazonDynamoDBWriter.java
  seatunnel-connectors-v2/connector-amazondynamodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/amazondynamodb/sink/DynamoDbSinkClient.java
Labels: approved, reviewed

#5269 [Improve] [Connector-V2] Remove scheduler in StarRocks sink
  docs/en/connector-v2/sink/StarRocks.md
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/client/StarRocksSinkManager.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/config/SinkConfig.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/config/StarRocksSinkOptions.java
  seatunnel-connectors-v2/connector-starrocks/src/main/java/org/apache/seatunnel/connectors/seatunnel/starrocks/sink/StarRocksSinkFactory.java
Labels: approved, reviewed

#5197 [Improve] update sql-udf document
  docs/en/transform-v2/sql-udf.md
Labels: approved, reviewed

#5222 [Feature] [api env] Add job-level configuration for checkpoint timeout.
  docs/en/connector-v2/sink/Console.md
  seatunnel-api/src/main/java/org/apache/seatunnel/api/env/EnvCommonOptions.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/env/EnvOptionRule.java
  seatunnel-connectors-v2/connector-console/src/main/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSink.java
  seatunnel-connectors-v2/connector-console/src/main/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSinkFactory.java
  seatunnel-connectors-v2/connector-console/src/main/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSinkWriter.java
  seatunnel-connectors-v2/connector-console/src/test/java/org/apache/seatunnel/connectors/seatunnel/console/sink/ConsoleSinkWriterIT.java
  seatunnel-core/seatunnel-flink-starter/seatunnel-flink-13-starter/src/main/java/org/apache/seatunnel/core/starter/flink/execution/FlinkRuntimeEnvironment.java
  seatunnel-core/seatunnel-flink-starter/seatunnel-flink-starter-common/src/main/java/org/apache/seatunnel/core/starter/flink/execution/FlinkRuntimeEnvironment.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointCloseReason.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobMaster.java
  seatunnel-engine/seatunnel-engine-server/src/test/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointTimeOutTest.java
  seatunnel-engine/seatunnel-engine-server/src/test/resources/stream_fake_to_console_checkpointTimeOut.conf
Labels: approved, reviewed

#5302 [Improve][Docs] Refactor MySQL-CDC docs
  docs/en/connector-v2/formats/cdc-compatible-debezium-json.md
  docs/en/connector-v2/source/MySQL-CDC.md
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mysql/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mysql/source/MySqlIncrementalSourceFactory.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mysql/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mysql/source/MySqlSourceOptions.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-mysql/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/mysql/utils/MySqlTypeUtils.java
Labels: approved, reviewed
