Repository apache/seatunnel, pull requests merged in 2023-06, with the labels that each got.

#4819 [Feature][SQL Transform]Add catalog support for SQL Transform plugin
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-cdc-mysql-e2e/src/test/resources/mysqlcdc_to_mysql.conf
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/SQLEngine.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/SQLTransform.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/SQLTransformFactory.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/zeta/ZetaSQLEngine.java
Labels: approved, reviewed

#4864 [improve][SelectDB] Add a jobId to the selectDB label to distinguish between tasks
  seatunnel-connectors-v2/connector-selectdb-cloud/src/main/java/org/apache/seatunnel/connectors/selectdb/sink/SelectDBSink.java
  seatunnel-connectors-v2/connector-selectdb-cloud/src/main/java/org/apache/seatunnel/connectors/selectdb/sink/writer/SelectDBSinkStateSerializer.java
  seatunnel-connectors-v2/connector-selectdb-cloud/src/main/java/org/apache/seatunnel/connectors/selectdb/sink/writer/SelectDBSinkWriter.java
Labels: approved, reviewed

#4875 [Hotfix][Connector-v2][kafka] Fix canal e2e consumer poll timeout
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/java/org/apache/seatunnel/e2e/connector/kafka/CanalToKafkaIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/java/org/apache/seatunnel/e2e/connector/kafka/KafkaIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/canalFormatIT/kafka_source_canal_cdc_to_pgsql.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/canalFormatIT/kafka_source_canal_to_kafka.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/jsonFormatIT/kafka_source_json_to_console.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/kafka_default_sink_fake_to_kafka.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/kafka_sink_fake_to_kafka.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/textFormatIT/fake_source_to_text_sink_kafka.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/resources/textFormatIT/kafka_source_text_to_console.conf
Labels: approved, reviewed

#4877 [Bugfix][CDC Base] Solving the ConcurrentModificationException caused…
  seatunnel-connectors-v2/connector-cdc/connector-cdc-base/src/main/java/org/apache/seatunnel/connectors/cdc/base/source/enumerator/IncrementalSourceEnumerator.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-sqlserver/src/main/java/org/apache/seatunnel/connectors/seatunnel/cdc/sqlserver/source/source/offset/LsnOffset.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/SourceSplitEnumeratorTask.java
Labels: approved, reviewed

#4866 [Hotfix][Jdbc] Fix XA DataSource crash(Oracle/Dameng/SqlServer)
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/connection/DataSourceUtils.java
Labels: bug, connectors-v2, approved, reviewed

#4876 [Bugfix] [source] Temporary files are not ignored
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/source/reader/AbstractReadStrategy.java
Labels: approved, reviewed

#4886 [Bug][Zeta] Fix TaskExecutionService synchronized lock will not release
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/TaskExecutionService.java
Labels: approved, reviewed

#4764 [hotfix][kafka] Fix the problem that the partition information cannot be obtained when kafka is restored
  seatunnel-connectors-v2/connector-kafka/src/main/java/org/apache/seatunnel/connectors/seatunnel/kafka/source/KafkaSourceSplitEnumerator.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/context/SeaTunnelSplitEnumeratorContext.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/task/flow/SourceFlowLifeCycle.java
Labels: approved, reviewed

#4634 [Improve][Connector-V2][Jdbc-Source] Support for Decimal types as splict keys
  seatunnel-api/src/main/java/org/apache/seatunnel/api/configuration/Options.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/config/JdbcOptions.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/config/JdbcSourceConfig.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/split/JdbcNumericBetweenParametersProvider.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/source/JdbcSourceFactory.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/source/PartitionParameter.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-1/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/JdbcMysqlIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-1/src/test/resources/jdbc_mysql_source_and_sink.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-1/src/test/resources/jdbc_mysql_source_and_sink_parallel.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-1/src/test/resources/jdbc_mysql_source_and_sink_parallel_upper_lower.conf
Labels: discuss, approved, reviewed

#4880 [Bug][connector-v2][doris] add streamload Content-type for doris URLdecode
  seatunnel-connectors-v2/connector-doris/src/main/java/org/apache/seatunnel/connectors/doris/sink/HttpPutBuilder.java
Labels: approved, reviewed

#4901 [Hotfix][connector-v2][e2e] Fix maven scope
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-fake-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-local-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-sftp-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-1/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-mongodb-e2e/pom.xml
Labels: approved, reviewed

#4943 [Bugfix] fix doc errors
  docs/en/start-v2/locally/deployment.md
  docs/en/start-v2/locally/quick-start-seatunnel-engine.md
Labels: First-time contributor, approved, reviewed

#4888 [Bug][Zeta] If the initialization task throws an error and the task can not return to master.
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/operation/NotifyTaskRestoreOperation.java
  seatunnel-examples/seatunnel-engine-examples/src/main/resources/log4j2.properties
Labels: approved, reviewed

#4937 [Fix][Connector-V2] Fix ClickhouseFile write file failed when field value is null
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/sink/file/ClickhouseFileSinkWriter.java
Labels: bug, First-time contributor, approved, reviewed

#4936 [Improve] Documentation and partial word optimization.
  README.md
  config/v2.batch.config.template
  config/v2.streaming.conf.template
  docs/en/about.md
  docs/en/concept/connector-v2-features.md
  docs/en/connector-v2/formats/canal-json.md
  docs/en/connector-v2/formats/cdc-compatible-debezium-json.md
  docs/en/connector-v2/sink/MongoDB.md
  docs/en/connector-v2/sink/Mysql.md
  docs/en/connector-v2/sink/Snowflake.md
  docs/en/connector-v2/source/FtpFile.md
  docs/en/connector-v2/source/HdfsFile.md
  docs/en/connector-v2/source/Klaviyo.md
  docs/en/connector-v2/source/Lemlist.md
  docs/en/connector-v2/source/LocalFile.md
  docs/en/connector-v2/source/MongoDB.md
  docs/en/connector-v2/source/Mysql.md
  docs/en/connector-v2/source/Notion.md
  docs/en/connector-v2/source/OneSignal.md
  docs/en/connector-v2/source/OssFile.md
  docs/en/connector-v2/source/OssJindoFile.md
  docs/en/connector-v2/source/S3File.md
  docs/en/connector-v2/source/SftpFile.md
  docs/en/connector-v2/source/Snowflake.md
  docs/en/faq.md
  docs/en/seatunnel-engine/rest-api.md
  docs/en/start-v2/kubernetes/kubernetes.mdx
  seatunnel-config/seatunnel-config-shade/src/main/java/org/apache/seatunnel/shade/com/typesafe/config/impl/ConfigParser.java
  seatunnel-connectors-v2/connector-cdc/connector-cdc-base/src/main/java/org/apache/seatunnel/connectors/cdc/base/relational/connection/JdbcConnectionPoolFactory.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/converter/AbstractJdbcRowConverter.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/converter/JdbcRowConverter.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/JdbcDialectTypeMapper.java
  seatunnel-connectors-v2/connector-neo4j/src/main/java/org/apache/seatunnel/connectors/seatunnel/neo4j/internal/SeaTunnelRowNeo4jValue.java
  seatunnel-connectors-v2/connector-neo4j/src/main/java/org/apache/seatunnel/connectors/seatunnel/neo4j/sink/Neo4jSinkWriter.java
  seatunnel-connectors-v2/connector-paimon/src/main/java/org/apache/seatunnel/connectors/seatunnel/paimon/utils/RowConverter.java
  seatunnel-core/README.md
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-http-e2e/src/test/resources/lemlist_json_to_assert.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-http-e2e/src/test/resources/notion_json_to_assert.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-http-e2e/src/test/resources/onesignal_json_to_assert.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-http-e2e/src/test/resources/persistiq_json_to_assert.conf
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/RestHttpGetCommandProcessor.java
  seatunnel-examples/seatunnel-flink-connector-v2-example/pom.xml
Labels: improve, approved, reviewed

#4951 [doc] property name fix
  docs/en/connector-v2/sink/StarRocks.md
Labels: approved, reviewed

#4647 [Feature][Connector-e2e] add ftp e2e test
  seatunnel-connectors-v2/connector-file/connector-file-base/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/java/org/apache/seatunnel/e2e/connector/file/ftp/FtpFileIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/excel/e2e.xlsx
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/excel/fake_source_to_ftp_excel.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/excel/ftp_excel_projection_to_assert.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/excel/ftp_excel_to_assert.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/json/e2e.json
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/json/fake_to_ftp_file_json.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/json/ftp_file_json_to_assert.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/orc/fake_to_ftp_file_orc.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/parquet/fake_to_ftp_file_parquet.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/text/e2e.txt
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/text/fake_to_ftp_file_text.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/text/ftp_file_text_projection_to_assert.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/text/ftp_file_text_skip_headers.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-ftp-e2e/src/test/resources/text/ftp_file_text_to_assert.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/pom.xml
Labels: approved, reviewed

#4966 [Hotfix][Connector-V2][StarRocks] Fix code style
  docs/en/connector-v2/sink/StarRocks.md
Labels: approved, reviewed

#4958 [Hotfix][Connector-v2][HbaseSink]Fix default timestamp.
  seatunnel-connectors-v2/connector-hbase/src/main/java/org/apache/seatunnel/connectors/seatunnel/hbase/sink/HbaseSinkWriter.java
Labels: approved, reviewed

#4954 [Doc]Change the transform website url
  docs/en/connector-v2/source/Mysql.md
  docs/en/connector-v2/source/Snowflake.md
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-amazondynamodb-e2e/src/test/resources/amazondynamodbIT_source_to_sink.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-cassandra-e2e/src/test/resources/cassandra_to_cassandra.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-2/src/test/resources/jdbc_greenplum_source_and_sink.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-2/src/test/resources/jdbc_phoenix_source_and_sink.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-3/src/test/resources/jdbc_sqlserver_source_to_sink.conf
Labels: approved, reviewed

#4962 [Docs][Connector-V2][Http]Reconstruct the Http connector document
  docs/en/connector-v2/sink/Http.md
  docs/en/connector-v2/source/Http.md
Labels: approved, reviewed

#4833 [Feature][connector-v2][mongodb] mongodb support cdc sink
  docs/en/connector-v2/sink/MongoDB.md
  release-note.md
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/config/MongodbConfig.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/serde/RowDataDocumentSerializer.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/sink/MongoKeyExtractor.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/sink/MongodbSink.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/sink/MongodbSinkFactory.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/sink/MongodbWriter.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/sink/MongodbWriterOptions.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-mongodb-e2e/pom.xml
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-mongodb-e2e/src/test/java/org/apache/seatunnel/e2e/connector/v2/mongodb/AbstractMongodbIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-mongodb-e2e/src/test/java/org/apache/seatunnel/e2e/connector/v2/mongodb/MongodbCDCIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-mongodb-e2e/src/test/java/org/apache/seatunnel/e2e/connector/v2/mongodb/MongodbIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-mongodb-e2e/src/test/resources/cdcIT/fake_cdc_sink_mongodb.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-mongodb-e2e/src/test/resources/cdcIT/fake_cdc_upsert_sink_mongodb.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-mongodb-e2e/src/test/resources/fake_source_to_mongodb.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-mongodb-e2e/src/test/resources/updateIT/fake_source_to_updateMode_insert_mongodb.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-mongodb-e2e/src/test/resources/updateIT/fake_source_to_update_mongodb.conf
Labels: approved, reviewed

#4984 [Bug] [zeta][starter]fix bug (#4983)
  seatunnel-core/seatunnel-starter/src/main/bin/seatunnel.sh
Labels: First-time contributor, approved, reviewed

#4981 [Budfix][Doc][Redis]fix redis nodes format error.
  docs/en/connector-v2/sink/Redis.md
  docs/en/connector-v2/source/Redis.md
Labels: approved, reviewed

#4982 [Hotfix][Connector-V2][Mongodb] Fix document error content and remove…
  docs/en/connector-v2/sink/MongoDB.md
  docs/en/connector-v2/source/MongoDB.md
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/config/MongodbConfig.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/serde/DocumentRowDataDeserializer.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/serde/RowDataDocumentSerializer.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/sink/MongodbSink.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/sink/MongodbWriter.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/source/MongodbSource.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/source/enumerator/MongodbSplitEnumerator.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/source/reader/MongodbReader.java
Labels: approved, reviewed

#4993 [imporve][plugin] Upgrade the key log output level
  seatunnel-plugin-discovery/src/main/java/org/apache/seatunnel/plugin/discovery/AbstractPluginDiscovery.java
Labels: approved, reviewed

#4969 [Feature][Zeta] Configuration files support user variable replacement
  release-note.md
  seatunnel-core/seatunnel-starter/src/main/java/org/apache/seatunnel/core/starter/seatunnel/args/ClientCommandArgs.java
  seatunnel-core/seatunnel-starter/src/test/java/org/apache/seatunnel/core/starter/seatunnel/args/ClientCommandArgsTest.java
  seatunnel-core/seatunnel-starter/src/test/resources/args/user_defined_params.conf
Labels: approved, reviewed
