Repository apache/seatunnel, pull requests merged in 2025-09, with the labels that each got.

#9802 [Feature][Zeta] Support SQL format in REST API
  docs/en/seatunnel-engine/rest-api-v2.md
  docs/zh/seatunnel-engine/rest-api-v2.md
  seatunnel-config/seatunnel-config-sql/src/main/java/org/apache/seatunnel/config/sql/SqlConfigBuilder.java
  seatunnel-e2e/seatunnel-engine-e2e/connector-seatunnel-e2e-base/src/test/java/org/apache/seatunnel/engine/e2e/RestApiIT.java
  seatunnel-engine/seatunnel-engine-server/pom.xml
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/ConfigFormat.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/RestConstant.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/service/JobInfoService.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/servlet/BaseServlet.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/servlet/SubmitJobByUploadFileServlet.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/servlet/SubmitJobServlet.java
  seatunnel-engine/seatunnel-engine-server/src/test/java/org/apache/seatunnel/engine/server/rest/BaseServletTest.java
Labels: document, core, Zeta, approved, reviewed, Zeta Rest API, e2e

#9803 [Fix][POM] Fix transform udf dependency version
  seatunnel-e2e/seatunnel-transforms-v2-e2e/seatunnel-transforms-v2-e2e-udf/pom.xml
  seatunnel-e2e/seatunnel-transforms-v2-e2e/seatunnel-transforms-v2-udf/pom.xml
Labels: approved, reviewed, e2e

#9783 [Feature][Transform V2] Add vector dimension reduction transform
  docs/en/transform-v2/sql-functions.md
  docs/zh/transform-v2/sql-functions.md
  seatunnel-e2e/seatunnel-transforms-v2-e2e/seatunnel-transforms-v2-e2e-part-2/src/test/java/org/apache/seatunnel/e2e/transform/TestSQLIT.java
  seatunnel-e2e/seatunnel-transforms-v2-e2e/seatunnel-transforms-v2-e2e-part-2/src/test/resources/sql_transform/func_vector.conf
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/zeta/ZetaSQLFunction.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/zeta/ZetaSQLType.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/zeta/functions/VectorFunction.java
  seatunnel-transforms-v2/src/test/java/org/apache/seatunnel/transform/sql/SQLVectorFunctionTest.java
Labels: document, Transform-v2, approved, reviewed, e2e

#9800 [Fix][Core] Fix the placeholders cannot pass parameters when using complex config
  seatunnel-core/seatunnel-core-starter/src/main/java/org/apache/seatunnel/core/starter/utils/ConfigBuilder.java
  seatunnel-core/seatunnel-core-starter/src/test/java/org/apache/seatunnel/core/starter/utils/ConfigShadeTest.java
  seatunnel-core/seatunnel-core-starter/src/test/resources/config_table_list_variables.conf
Labels: core, approved, reviewed

#9784 [Feature][Transform-V2] Support `AT TIME ZONE` statement for sql transform
  docs/en/transform-v2/sql-functions.md
  docs/zh/transform-v2/sql-functions.md
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/converter/AbstractJdbcRowConverter.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/inceptor/InceptorJdbcRowConverter.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/kingbase/KingbaseJdbcRowConverter.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/oceanbase/OceanBaseMysqlJdbcRowConverter.java
  seatunnel-connectors-v2/connector-jdbc/src/main/java/org/apache/seatunnel/connectors/seatunnel/jdbc/internal/dialect/psql/PostgresJdbcRowConverter.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-cdc-oracle-e2e/src/test/java/org/apache/seatunnel/connectors/seatunnel/cdc/oracle/OracleCDCIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-cdc-sqlserver-e2e/src/test/java/org/apache/seatunnel/e2e/connector/cdc/sqlserver/SqlServerCDCIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-1/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/JdbcAutoGenerateSQLIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-1/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/JdbcPostgresIdentifierIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-1/src/test/resources/jdbc_sink_auto_generate_sql.conf
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-3/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/JdbcPostgresIT.java
  seatunnel-e2e/seatunnel-e2e-common/src/test/java/org/apache/seatunnel/e2e/common/util/JdbcUtil.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/zeta/ZetaSQLFunction.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/zeta/ZetaSQLType.java
  seatunnel-transforms-v2/src/main/java/org/apache/seatunnel/transform/sql/zeta/functions/DateTimeFunction.java
  seatunnel-transforms-v2/src/test/java/org/apache/seatunnel/transform/sql/zeta/DateTimeFunctionTest.java
Labels: document, connectors-v2, Transform-v2, approved, reviewed, e2e, jdbc

#9819 [Feature][Connectors-v2] Clean up temporary files for paimon sink
  seatunnel-connectors-v2/connector-paimon/src/main/java/org/apache/seatunnel/connectors/seatunnel/paimon/sink/PaimonSinkWriter.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-paimon-e2e/src/test/java/org/apache/seatunnel/e2e/connector/paimon/PaimonIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-paimon-e2e/src/test/resources/fake_to_paimon_with_change_log_tmp.conf
Labels: connectors-v2, approved, reviewed, e2e, paimon

#9830 [Chore] fix typos coolumn ---> column
  docs/zh/connector-v2/sink/DB2.md
  docs/zh/connector-v2/sink/Mysql.md
  docs/zh/connector-v2/source/HiveJdbc.md
Labels: document, approved, reviewed

#9801 [Improve][Connector-Clickhouse] improve ck batch parallel read by using last batch row sorting value approach, instead of limit offset.
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/source/ClickhousePart.java
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/source/ClickhouseValueReader.java
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/source/split/ClickhouseSourceSplit.java
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/source/split/PartStrategySplitter.java
  seatunnel-connectors-v2/connector-clickhouse/src/main/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/source/split/SqlStrategySplitter.java
  seatunnel-connectors-v2/connector-clickhouse/src/test/java/org/apache/seatunnel/connectors/seatunnel/clickhouse/source/ClickhouseValueReaderTest.java
Labels: connectors-v2, approved, reviewed, clickhouse

#9804 [Feature][Zeta] Support the min-pause configuration for checkpoints
  docs/en/seatunnel-engine/checkpoint-storage.md
  docs/en/seatunnel-engine/hybrid-cluster-deployment.md
  docs/en/seatunnel-engine/separated-cluster-deployment.md
  docs/zh/seatunnel-engine/checkpoint-storage.md
  docs/zh/seatunnel-engine/hybrid-cluster-deployment.md
  docs/zh/seatunnel-engine/separated-cluster-deployment.md
  seatunnel-api/src/main/java/org/apache/seatunnel/api/options/EnvCommonOptions.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/options/EnvOptionRule.java
  seatunnel-core/seatunnel-flink-starter/seatunnel-flink-starter-common/src/main/java/org/apache/seatunnel/core/starter/flink/execution/AbstractFlinkRuntimeEnvironment.java
  seatunnel-core/seatunnel-flink-starter/seatunnel-flink-starter-common/src/main/java/org/apache/seatunnel/core/starter/flink/utils/ConfigKeyName.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/YamlSeaTunnelDomConfigProcessor.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/server/CheckpointConfig.java
  seatunnel-engine/seatunnel-engine-common/src/main/java/org/apache/seatunnel/engine/common/config/server/ServerConfigOptions.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointCoordinator.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointManager.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobMaster.java
  seatunnel-engine/seatunnel-engine-server/src/test/java/org/apache/seatunnel/engine/server/checkpoint/CheckpointCoordinatorTest.java
Labels: document, core, Zeta, approved, reviewed, api

#9840 [Fix][Zeta] Fix typo in `isPhysicalDAGInfo`
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/dag/DAGUtils.java
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/master/JobMaster.java
Labels: Zeta, approved, reviewed

#9853 [Fix][doc] Fix the ./mvnw install error according to the official documentation
  docs/en/contribution/setup.md
  docs/zh/contribution/setup.md
Labels: document, approved, reviewed

#9834 [Feature][File] Add markdown parser documentation
  docs/en/connector-v2/changelog/connector-file-cos.md
  docs/en/connector-v2/changelog/connector-file-ftp.md
  docs/en/connector-v2/changelog/connector-file-hadoop.md
  docs/en/connector-v2/changelog/connector-file-local.md
  docs/en/connector-v2/changelog/connector-file-obs.md
  docs/en/connector-v2/changelog/connector-file-oss-jindo.md
  docs/en/connector-v2/changelog/connector-file-oss.md
  docs/en/connector-v2/changelog/connector-file-s3.md
  docs/en/connector-v2/changelog/connector-file-sftp.md
  docs/en/connector-v2/changelog/connector-hive.md
  docs/en/connector-v2/source/CosFile.md
  docs/en/connector-v2/source/FtpFile.md
  docs/en/connector-v2/source/HdfsFile.md
  docs/en/connector-v2/source/Hive.md
  docs/en/connector-v2/source/LocalFile.md
  docs/en/connector-v2/source/ObsFile.md
  docs/en/connector-v2/source/OssFile.md
  docs/en/connector-v2/source/OssJindoFile.md
  docs/en/connector-v2/source/S3File.md
  docs/en/connector-v2/source/SftpFile.md
  docs/zh/connector-v2/changelog/connector-file-cos.md
  docs/zh/connector-v2/changelog/connector-file-ftp.md
  docs/zh/connector-v2/changelog/connector-file-hadoop.md
  docs/zh/connector-v2/changelog/connector-file-local.md
  docs/zh/connector-v2/changelog/connector-file-obs.md
  docs/zh/connector-v2/changelog/connector-file-oss-jindo.md
  docs/zh/connector-v2/changelog/connector-file-oss.md
  docs/zh/connector-v2/changelog/connector-file-s3.md
  docs/zh/connector-v2/changelog/connector-file-sftp.md
  docs/zh/connector-v2/changelog/connector-hive.md
  docs/zh/connector-v2/source/CosFile.md
  docs/zh/connector-v2/source/FtpFile.md
  docs/zh/connector-v2/source/HdfsFile.md
  docs/zh/connector-v2/source/Hive.md
  docs/zh/connector-v2/source/LocalFile.md
  docs/zh/connector-v2/source/OssFile.md
  docs/zh/connector-v2/source/S3File.md
  docs/zh/connector-v2/source/SftpFile.md
Labels: document, approved, reviewed

#9805 [Feature][Format] Improve maxwell_json,canal_json,debezium_json format support merge update_before and update_after
  docs/en/connector-v2/sink/CosFile.md
  docs/en/connector-v2/sink/HdfsFile.md
  docs/en/connector-v2/sink/LocalFile.md
  docs/en/connector-v2/sink/ObsFile.md
  docs/en/connector-v2/sink/OssFile.md
  docs/en/connector-v2/sink/OssJindoFile.md
  docs/en/connector-v2/sink/S3File.md
  docs/en/connector-v2/sink/SftpFile.md
  docs/zh/connector-v2/sink/CosFile.md
  docs/zh/connector-v2/sink/HdfsFile.md
  docs/zh/connector-v2/sink/LocalFile.md
  docs/zh/connector-v2/sink/ObsFile.md
  docs/zh/connector-v2/sink/OssFile.md
  docs/zh/connector-v2/sink/OssJindoFile.md
  docs/zh/connector-v2/sink/S3File.md
  docs/zh/connector-v2/sink/SftpFile.md
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/config/FileBaseSinkOptions.java
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/config/FileSinkConfig.java
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/writer/CanalJsonWriteStrategy.java
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/writer/DebeziumJsonWriteStrategy.java
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/sink/writer/MaxWellJsonWriteStrategy.java
  seatunnel-connectors-v2/connector-file/connector-file-local/src/test/java/org/apache/seatunnel/connectors/seatunnel/file/local/LocalFileTest.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-kafka-e2e/src/test/java/org/apache/seatunnel/e2e/connector/kafka/KafkaFormatIT.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/canal/CanalJsonSerializationSchema.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/debezium/DebeziumJsonDeserializationSchema.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/debezium/DebeziumJsonSerializationSchema.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/maxwell/MaxWellJsonSerializationSchema.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/ogg/OggJsonDeserializationSchema.java
  seatunnel-formats/seatunnel-format-json/src/main/java/org/apache/seatunnel/format/json/ogg/OggJsonSerializationSchema.java
  seatunnel-formats/seatunnel-format-json/src/test/java/org/apache/seatunnel/format/json/canal/CanalJsonSerDeSchemaTest.java
  seatunnel-formats/seatunnel-format-json/src/test/java/org/apache/seatunnel/format/json/debezium/DebeziumJsonSerDeSchemaTest.java
  seatunnel-formats/seatunnel-format-json/src/test/java/org/apache/seatunnel/format/json/maxwell/MaxWellJsonSerDeSchemaTest.java
  seatunnel-formats/seatunnel-format-json/src/test/java/org/apache/seatunnel/format/json/ogg/OggJsonSerDeSchemaTest.java
Labels: document, connectors-v2, approved, reviewed, e2e, format, file

#9879 [Improve][Connector-V2] MongodbSinkFactory implements TableSinkFactory
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/sink/MongodbSink.java
  seatunnel-connectors-v2/connector-mongodb/src/main/java/org/apache/seatunnel/connectors/seatunnel/mongodb/sink/MongodbSinkFactory.java
Labels: connectors-v2, approved, reviewed, mongodb

#9688 [Feature][Engine]Metalake support for data source information storage and management
  config/seatunnel-env.cmd
  config/seatunnel-env.sh
  docs/en/concept/metalake.md
  docs/sidebars.js
  docs/zh/concept/metalake.md
  seatunnel-api/pom.xml
  seatunnel-api/src/main/java/org/apache/seatunnel/api/metalake/GravitinoClient.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/metalake/MetalakeClient.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/metalake/MetalakeClientFactory.java
  seatunnel-api/src/main/java/org/apache/seatunnel/api/metalake/MetalakeConfigUtils.java
  seatunnel-common/src/main/java/org/apache/seatunnel/common/utils/JsonUtils.java
  seatunnel-common/src/main/java/org/apache/seatunnel/common/utils/PlaceholderUtils.java
  seatunnel-connectors-v2/connector-doris/pom.xml
  seatunnel-connectors-v2/connector-http/connector-http-base/pom.xml
  seatunnel-connectors-v2/connector-selectdb-cloud/pom.xml
  seatunnel-connectors-v2/connector-starrocks/pom.xml
  seatunnel-core/seatunnel-flink-starter/seatunnel-flink-starter-common/src/main/java/org/apache/seatunnel/core/starter/flink/command/FlinkTaskExecuteCommand.java
  seatunnel-core/seatunnel-spark-starter/seatunnel-spark-starter-common/src/main/java/org/apache/seatunnel/core/starter/spark/command/SparkTaskExecuteCommand.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-7/src/test/java/org/apache/seatunnel/connectors/seatunnel/jdbc/MetalakeIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-jdbc-e2e/connector-jdbc-e2e-part-7/src/test/resources/jdbc_mysql_source_to_assert_sink_with_metalake.conf
  seatunnel-engine/seatunnel-engine-core/src/main/java/org/apache/seatunnel/engine/core/parse/MultipleTableJobConfigParser.java
Labels: document, core, Zeta, connectors-v2, e2e, api

#9888 [Fix][UI] Optimize detail and finish-jobs components
  seatunnel-engine/seatunnel-engine-server/src/main/java/org/apache/seatunnel/engine/server/rest/service/JobInfoService.java
  seatunnel-engine/seatunnel-engine-ui/src/views/jobs/detail.tsx
  seatunnel-engine/seatunnel-engine-ui/src/views/jobs/finished-jobs.tsx
Labels: Zeta, approved, reviewed, Zeta Rest API

#9892 [Docs][Connector-V2][S3File] Fix connector s3file option name (access_secret -> secret_key)
  docs/en/connector-v2/source/S3File.md
  docs/zh/connector-v2/sink/S3File.md
  docs/zh/connector-v2/source/S3File.md
Labels: document, approved, reviewed

#9882 [Fix][Connector-V2] Solve the reading of special excel
  seatunnel-connectors-v2/connector-file/connector-file-base/src/main/java/org/apache/seatunnel/connectors/seatunnel/file/source/reader/ExcelReadStrategy.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-local-e2e/src/test/java/org/apache/seatunnel/e2e/connector/file/local/LocalFileIT.java
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-local-e2e/src/test/resources/excel/special_excel.xlsx
  seatunnel-e2e/seatunnel-connector-v2-e2e/connector-file-local-e2e/src/test/resources/excel/special_excel_to_assert.conf
Labels: connectors-v2, approved, reviewed, e2e, file
